openapi: 3.1.0
info:
  title: PDCP API
  version: '1.0'
  summary: ProjectDiscovery Cloud Platform
  description: 'For more details, checkout https://docs.projectdiscovery.io/api-reference/editor/scan'
servers:
  - url: 'https://api.projectdiscovery.io'
    description: Production
  - url: 'https://api.dev.projectdiscovery.io'
    description: Development
  - url: 'http://localhost:8080'
    description: Localhost
paths:
  /v1/scans:
    get:
      operationId: get-v1-scans
      summary: Get Scan List
      description: Get user scans status
      parameters:
        - name: offset
          in: query
          description: number of scan-status results to skip
          schema:
            type: integer
        - name: limit
          in: query
          description: number of scan-status results to fetch
          schema:
            type: integer
        - name: search
          in: query
          description: search term for running scans
          schema:
            type: string
        - name: status
          in: query
          description: 'filter by status (failed, finished, queued, running, starting, uploaded, scheduled)'
          schema:
            type: string
        - name: sort_asc
          in: query
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
          schema:
            type: string
        - name: sort_desc
          in: query
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetScansStatusResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
      x-internal: false
    post:
      operationId: post-v1-scans
      summary: Create Scan
      description: Trigger a scan
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/TriggerUserScanRequest'
      responses:
        '200':
          $ref: '#/components/responses/TriggerUserScanResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
    delete:
      operationId: delete-v1-scans
      summary: Delete Bulk Scans
      description: Delete multiple scans using scan ids
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scan_ids:
                  type: array
                  items:
                    type: string
              required:
                - scan_ids
      responses:
        '200':
          $ref: '#/components/responses/DeleteScansResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  '/v1/scans/{scan_id}':
    parameters:
      - name: scan_id
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: get-v1-scans-scan_id
      summary: Get Scan
      description: Get details of a scan by scan ID
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetScanDetailsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
    delete:
      operationId: delete-v1-scans-scan_id
      summary: Delete Scan
      description: Delete a scan using scanId
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeleteScansResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
    patch:
      operationId: patch-v1-scans-scan_id
      summary: Update Scan
      description: Update scan metadata
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateScanRequest'
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  /v1/scans/import:
    post:
      operationId: post-v1-scans-import
      summary: Import OSS Scan
      description: Import scan details
      parameters:
        - name: name
          in: query
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          $ref: '#/components/responses/ImportScanResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  '/v1/scans/{scan_id}/stop':
    parameters:
      - name: scan_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: post-v1-scans-scan_id-stop
      summary: Stop Scan
      description: 'Stop a running scan, not applied in any other state.'
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeleteScansResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  '/v1/scans/{scan_id}/rescan':
    parameters:
      - name: scan_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: post-v1-scans-scan_id-rescan
      summary: Rescan scan
      description: Re-run a existing scan
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/TriggerUserScanResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  '/v1/scans/vuln/{vuln_id}':
    get:
      operationId: 'get-v1-scans-vuln-:vulnId'
      summary: Get Scan Vulnerability
      description: 'Get scan result vulnerability by ID '
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetScansVulnIdResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - results
    parameters:
      - name: vuln_id
        in: path
        description: vulnerability ID
        required: true
        schema:
          type: string
  '/v1/scans/result/{scanId}':
    get:
      operationId: 'get-v1-scans-result-:scanId'
      summary: Get Scan Results
      description: get results of specific scan by id
      parameters:
        - name: severity
          in: query
          description: 'comma separated severity e.g. severity=info,high'
          schema:
            type: string
        - name: search
          in: query
          description: search term
          schema:
            type: string
        - name: limit
          in: query
          description: 'number of results '
          schema:
            type: integer
        - name: offset
          in: query
          description: number of results to skip
          schema:
            type: integer
        - name: templates
          in: query
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
          schema:
            type: string
        - name: hosts
          in: query
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
          schema:
            type: string
        - name: time
          in: query
          description: 'filter by time ( last_day, last_week, last_month )'
          schema:
            type: string
        - name: vuln_status
          in: query
          description: 'comma separated vuln_status e.g vuln_status=open,fixed'
          schema:
            type: string
        - name: sort_asc
          in: query
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
          schema:
            type: string
        - name: sort_desc
          in: query
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - results
    parameters:
      - name: scanId
        in: path
        description: scan specific results (by scanId)
        required: true
        schema:
          type: string
  /v1/scans/results:
    get:
      operationId: get-v1-results
      summary: Get All Results
      description: Get scans results of a user
      parameters:
        - name: offset
          in: query
          description: number of results to skip
          schema:
            type: integer
        - name: limit
          in: query
          description: number of results to get
          schema:
            type: integer
        - name: severity
          in: query
          description: 'string separated by comma e.g. info,high'
          schema:
            type: string
        - name: search
          in: query
          description: search term
          schema:
            type: string
        - name: hosts
          in: query
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
          schema:
            type: string
        - name: templates
          in: query
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
          schema:
            type: string
        - name: time
          in: query
          description: 'filter by time ( last_day, last_week, last_month )'
          schema:
            type: string
        - name: vuln_status
          in: query
          description: 'comma separated vuln_status e.g vuln_status=open,fixed'
          schema:
            type: string
        - name: tags
          in: query
          description: 'comma separated tags e.g tags=xss,cve'
          schema:
            type: string
        - name: sort_asc
          in: query
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
          schema:
            type: string
        - name: sort_desc
          in: query
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
          schema:
            type: string
        - name: is_ticket
          in: query
          description: Return the records that have issue trackers
          schema:
            type: boolean
        - name: labels
          in: query
          description: 'filter by comma separated labels e.g labels=p1,p2'
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - results
    parameters: []
  /v1/scans/stats:
    get:
      operationId: get-v1-scans-stats
      summary: Get All Scan Stats
      description: Get all scans statistics for a user
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/ScanStatsResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  '/v1/scans/{vuln_id}/retest':
    parameters:
      - name: vuln_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: post-v1-scans-vuln_id-retest
      summary: Retest vulnerability
      description: Retest a scan vulnerability
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/PostRescanVulnResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  /v1/scans/results/filters:
    get:
      operationId: get-v1-scans-results-filters
      summary: Get Scans Result Filters
      description: Get users scan-result filters
      parameters:
        - name: offset
          in: query
          description: The number of items to skip before starting to collect the result set
          schema:
            type: integer
        - name: limit
          in: query
          description: The numbers of items to return
          schema:
            type: integer
        - name: scan_id
          in: query
          description: specific scan_id results filters
          schema:
            type: string
        - name: severity
          in: query
          description: 'comma separated severity e.g. severities=info,high'
          schema:
            type: string
        - name: templates
          in: query
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
          schema:
            type: string
        - name: hosts
          in: query
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
          schema:
            type: string
        - name: search
          in: query
          description: search term
          schema:
            type: string
        - name: type
          in: query
          description: type of filter
          required: true
          schema:
            type: string
        - name: time
          in: query
          description: 'filter by time ( last_day, last_week, last_month )'
          schema:
            type: string
        - name: vuln_status
          in: query
          description: 'comma separated vuln_status e.g vuln_status=open,fixed'
          schema:
            type: string
        - name: sort_asc
          in: query
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
          schema:
            type: string
        - name: sort_desc
          in: query
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
          schema:
            type: string
        - name: tags
          in: query
          description: 'comma separated tags e.g tags=xss,cve'
          schema:
            type: string
        - name: not_hosts
          in: query
          description: 'comma separated hosts that should not be returned e.g. not_hosts=https://example.com,https://x.com'
          schema:
            type: string
        - name: not_severity
          in: query
          description: 'comma separated severity that should not be returned e.g. not_severity=info,high'
          schema:
            type: string
        - name: not_templates
          in: query
          description: 'comma separated templates that should not be returned e.g. not_templates=tech-detect,azure-takeover'
          schema:
            type: string
        - name: labels
          in: query
          description: 'filter by comma separated labels e.g labels=p1,p2'
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultsFiltersResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - results
  /v1/scans/results/stats:
    get:
      operationId: get-v1-scans-results-stats
      summary: Get Results Stats
      description: Get user scan results stats
      parameters:
        - name: offset
          in: query
          description: The number of items to skip before starting to collect the result set
          schema:
            type: integer
        - name: limit
          in: query
          description: The numbers of items to return
          schema:
            type: integer
        - name: hosts
          in: query
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
          schema:
            type: string
        - name: templates
          in: query
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
          schema:
            type: string
        - name: severity
          in: query
          description: 'comma separated severity e.g. severities=info,high'
          schema:
            type: string
        - name: search
          in: query
          description: search term
          schema:
            type: string
        - name: scan_id
          in: query
          description: specific scan_id results filters
          schema:
            type: string
        - name: time
          in: query
          description: 'filter by time ( last_day, last_week, last_month )'
          schema:
            type: string
        - name: vuln_status
          in: query
          description: 'comma separated vuln_status e.g vuln_status=open,fixed'
          schema:
            type: string
        - name: tags
          in: query
          description: 'comma separated tags e.g tags=xss,cve'
          schema:
            type: string
        - name: not_hosts
          in: query
          description: 'comma separated hosts that should not be returned e.g. not_hosts=https://example.com,https://x.com'
          schema:
            type: string
        - name: not_severity
          in: query
          description: 'comma separated severity that should not be returned e.g. not_severity=info,high'
          schema:
            type: string
        - name: not_templates
          in: query
          description: 'comma separated templates that should not be returned e.g. not_templates=tech-detect,azure-takeover'
          schema:
            type: string
        - name: labels
          in: query
          description: 'filter by comma separated labels e.g labels=p1,p2'
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultStatsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - results
  /v1/scans/schedule:
    get:
      operationId: get-v1-scans-schedule
      summary: Get Scan Schedules
      description: Get scan schedules for a user
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetScanScheduleResponse'
        '400':
          $ref: '#/components/responses/GetScanScheduleResponse'
        '401':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '500':
          $ref: '#/components/responses/SetScanScheduleResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
    post:
      operationId: post-v1-scans-schedule
      summary: Set Scan Schedule
      description: 'set a scan schedule for a user '
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/SetScanScheduleRequest'
      responses:
        '200':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '400':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '401':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '500':
          $ref: '#/components/responses/SetScanScheduleResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
    delete:
      operationId: delete-v1-scans-schedule
      summary: Delete Scan Schedule
      description: Delete scan schedule for a user
      parameters:
        - name: scan_id
          in: query
          description: scan_id of schedule to be deleted
          required: true
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeleteScanScheduleResponse'
        '400':
          $ref: '#/components/responses/DeleteScanScheduleResponse'
        '401':
          $ref: '#/components/responses/DeleteScanScheduleResponse'
        '500':
          $ref: '#/components/responses/DeleteScanScheduleResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  /v1/retest:
    get:
      operationId: get-v1-retest
      summary: Get All Retest
      description: Get user retest results
      parameters:
        - name: offset
          in: query
          description: number of results to skip
          required: true
          schema:
            type: integer
        - name: limit
          in: query
          description: number of results
          required: true
          schema:
            type: integer
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetRetestResultsResponse'
        '401':
          $ref: '#/components/responses/GetRetestResultsResponse'
        '500':
          $ref: '#/components/responses/GetRetestResultsResponse'
      security:
        - X-API-Key: []
      tags:
        - retests
    post:
      operationId: post-v1-retest
      summary: Create Retest
      description: Trigger a retest scan
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/RetestTemplateRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostRetestTemplateResponse'
        '400':
          $ref: '#/components/responses/PostRetestTemplateResponse'
        '401':
          $ref: '#/components/responses/PostRetestTemplateResponse'
        '500':
          $ref: '#/components/responses/PostRetestTemplateResponse'
      security:
        - X-API-Key: []
      tags:
        - retests
    parameters: []
  '/v1/retest/{vuln_id}':
    get:
      operationId: get-v1-retest-vuln_id
      summary: Get Retest Vulnerability
      description: Get retest vulnerability (retests from editor)
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetSingleRetestResultResponse'
        '400':
          $ref: '#/components/responses/GetSingleRetestResultResponse'
        '401':
          $ref: '#/components/responses/GetSingleRetestResultResponse'
        '500':
          $ref: '#/components/responses/GetSingleRetestResultResponse'
      security:
        - X-API-Key: []
      tags:
        - retests
    parameters:
      - name: vuln_id
        in: path
        required: true
        schema:
          type: string
  /v1/assets:
    get:
      operationId: get-v1-assets
      summary: Get Asset List
      description: Get user asset list
      parameters:
        - name: offset
          in: query
          description: number of assets to skip
          schema:
            type: integer
        - name: limit
          in: query
          description: number of assets to fetch
          schema:
            type: integer
        - name: search
          in: query
          description: search term for asset list
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetAssetsListResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - assets
    post:
      operationId: post-v1-assets
      summary: Upload Asset
      description: Manually upload user assets (uploaded to manual enumeration)
      parameters:
        - name: name
          in: query
          description: name of asset
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
        - name: Content-Type
          in: header
          description: set the content type header
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          $ref: '#/components/responses/UploadAssetResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - assets
  '/v1/assets/{asset_Id}':
    parameters:
      - name: asset_Id
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: get-v1-assets-assetId
      summary: Get Asset Metadata
      description: Get asset metadata
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetUserAssetResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - assets
    delete:
      operationId: delete-v1-assets-asset_Id
      summary: Delete Asset
      description: Delete asset by ID
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeleteAssetResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - assets
    patch:
      operationId: patch-v1-assets-asset_Id
      summary: Update Asset Metadata
      description: Update asset metadata
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateAssetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - assets
  '/v1/assets/{asset_id}/contents':
    get:
      operationId: get-v1-assets-id-contents
      summary: Get Asset Content
      description: Get user asset content
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - assets
    parameters:
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patch-v1-assets-asset_id-contents
      summary: Update Asset Content
      description: Update existing asset content
      parameters:
        - name: update_type
          in: query
          description: 'use append or replace '
          schema:
            type: string
            enum:
              - append
              - replace
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
        - name: Content-Type
          in: header
          description: set the content type header
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          $ref: '#/components/responses/PatchAssetContentResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - assets
  /v1/user/feedback:
    post:
      operationId: post-v1-user-feedback
      summary: Create Feedback
      description: Add user feedback
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/PostFeedbackRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '401':
          description: Shared Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
      security:
        - X-API-Key: []
      tags:
        - users
  /v1/user/delete/code:
    parameters: []
    post:
      operationId: post-v1-user-delete-code
      summary: Email user deletion verification code
      description: generate and email user deletion verification code
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      tags:
        - users
  /v1/user:
    get:
      operationId: get-v1-user
      summary: Get User Profile
      description: Get user profile and permissions
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetUserProfileResponse'
        '401':
          $ref: '#/components/responses/GetUserProfileResponse'
        '500':
          $ref: '#/components/responses/GetUserProfileResponse'
      security:
        - X-API-Key: []
      tags:
        - users
    delete:
      operationId: delete-v1-user
      summary: Delete user from system along with all data
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
              required:
                - code
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      tags:
        - users
  /v1/user/apikey:
    get:
      operationId: get-v1-user-apikey
      summary: Get API Key
      description: Get user api-key
      responses:
        '200':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '401':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '404':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
      security:
        - X-API-Key: []
      tags:
        - users
    post:
      operationId: post-v1-user-apikey
      summary: Create API Key
      description: 'Create user api-key, this won''t create a new api-key if it already exists.'
      responses:
        '200':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '400':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
      security:
        - X-API-Key: []
      tags:
        - users
    delete:
      operationId: delete-v1-user-apikey
      summary: Delete API Key
      description: Delete user api-key
      responses:
        '200':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
        '401':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
      security:
        - X-API-Key: []
      tags:
        - users
  /v1/user/apikey/rotate:
    post:
      operationId: post-v1-user-apikey-rotate
      summary: Rotate API Key
      description: Rotate user api-key
      responses:
        '200':
          $ref: '#/components/responses/PostApiKeyRotateResponse'
        '401':
          $ref: '#/components/responses/PostApiKeyRotateResponse'
        '500':
          $ref: '#/components/responses/PostApiKeyRotateResponse'
      security:
        - X-API-Key: []
      tags:
        - users
  /v1/template/public:
    get:
      operationId: get-v1-template-public
      summary: Get Public Template List
      description: Get public-template list
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetPublicTemplateList'
        '201':
          $ref: '#/components/responses/GetPublicTemplateList'
        '500':
          $ref: '#/components/responses/GetPublicTemplateList'
      tags:
        - templates
  /v1/template/early:
    get:
      operationId: get-v1-early-templates
      summary: Get Early Template List
      description: Get pdcp early template lists
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetEarlyTempateList'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      tags:
        - templates
    parameters: []
  '/v1/template/early/{id}':
    get:
      operationId: get-v1-early-templates-id
      summary: Get Early Template
      description: Get early template text
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          description: Shared Response
          content:
            text/plain:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      tags:
        - templates
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /v1/template/public/*:
    get:
      operationId: get-v1-template-public-path
      summary: Get Public Template
      description: Get public template text using path
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
      tags:
        - templates
  /v1/template:
    get:
      operationId: get-v1-templates
      summary: Get Template List
      description: Get user private(my) templates
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetUserTemplateListResponse'
        '401':
          $ref: '#/components/responses/GetUserTemplateListResponse'
        '500':
          $ref: '#/components/responses/GetUserTemplateListResponse'
      security:
        - X-API-Key: []
      tags:
        - templates
    parameters: []
    post:
      operationId: post-v1-template
      summary: Create Template
      description: Create a private template
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                template:
                  type: string
                prompt:
                  type: string
              required:
                - template
      responses:
        '200':
          $ref: '#/components/responses/CreateTemplateResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      tags:
        - templates
    patch:
      operationId: patch-v1-template
      summary: Update Template
      description: 'Update existing private template '
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateTemplateRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateTemplateResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      tags:
        - templates
  '/v1/template/{template_id}':
    parameters:
      - name: template_id
        in: path
        description: 'unique Id of template '
        required: true
        schema:
          type: string
    get:
      operationId: get-v1-template-t_id
      summary: Get Template
      description: Get private template text using ID
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetTemplateResponse'
        '400':
          $ref: '#/components/responses/GetTemplateResponse'
        '401':
          $ref: '#/components/responses/GetTemplateResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/GetTemplateResponse'
      security:
        - X-API-Key: []
      tags:
        - templates
    delete:
      operationId: delete-v1-template-template_id
      summary: Delete Template
      description: Delete private template using ID
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeleteTemplateResponse'
        '400':
          $ref: '#/components/responses/DeleteTemplateResponse'
        '401':
          $ref: '#/components/responses/DeleteTemplateResponse'
        '500':
          $ref: '#/components/responses/DeleteTemplateResponse'
      security:
        - X-API-Key: []
      tags:
        - templates
  /v1/template/ai:
    post:
      operationId: post-v1-template-ai
      summary: Generate AI Template
      description: Generate a private template with AI Engine
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/GenerateTemplateRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenerateTemplateResponse'
        '400':
          $ref: '#/components/responses/GenerateTemplateResponse'
        '401':
          $ref: '#/components/responses/GenerateTemplateResponse'
        '403':
          $ref: '#/components/responses/GenerateTemplateResponse'
        '500':
          $ref: '#/components/responses/GenerateTemplateResponse'
      security:
        - X-API-Key: []
      tags:
        - templates
  /v1/template/share:
    get:
      operationId: get-v1-template-share
      summary: Get Share Status
      description: Get template sahred status (shared-with-link)
      parameters:
        - name: template_id
          in: query
          description: short uuid of requested template
          required: true
          schema:
            type: string
        - name: user_name
          in: query
          description: user name of logged in user
          required: true
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetShareStatusResponse'
        '400':
          $ref: '#/components/responses/GetShareStatusResponse'
        '401':
          $ref: '#/components/responses/GetShareStatusResponse'
        '404':
          $ref: '#/components/responses/GetShareStatusResponse'
        '500':
          $ref: '#/components/responses/GetShareStatusResponse'
      security:
        - X-API-Key: []
      tags:
        - templates
    post:
      operationId: post-v1-template-share
      summary: Share Template
      description: Share a private template (shared-with-link)
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ShareTemplateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ShareTemplateResponse'
        '400':
          $ref: '#/components/responses/ShareTemplateResponse'
        '401':
          $ref: '#/components/responses/ShareTemplateResponse'
        '404':
          $ref: '#/components/responses/ShareTemplateResponse'
        '500':
          $ref: '#/components/responses/ShareTemplateResponse'
      security:
        - X-API-Key: []
      tags:
        - templates
  '/v1/template/share/{template_id}':
    parameters:
      - name: template_id
        in: path
        description: unique template ID
        required: true
        schema:
          type: string
    get:
      operationId: get-v1-template-share-template_id
      summary: Get Shared Template
      description: Get a shared template text
      parameters:
        - name: user_name
          in: query
          description: user name of template owner
          required: true
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetSharedTemplateResponse'
        '400':
          $ref: '#/components/responses/GetSharedTemplateResponse'
        '401':
          $ref: '#/components/responses/GetSharedTemplateResponse'
        '404':
          $ref: '#/components/responses/GetSharedTemplateResponse'
        '500':
          $ref: '#/components/responses/GetSharedTemplateResponse'
      tags:
        - templates
  /v1/scans/scan_ips:
    get:
      operationId: get-v1-scans-scan_ips
      summary: Get Scan IPs
      description: Get user static scan IPs list
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/StaticScanIPsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  '/v1/scans/{scan_id}/import':
    parameters:
      - name: scan_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patch-v1-scans-scan_id-import
      summary: Update Imported Scan
      description: Import more results to a given scan
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  '/v1/scans/{scan_id}/export':
    parameters:
      - name: scan_id
        in: path
        required: true
        schema:
          type: string
      - name: async
        in: query
        schema:
          type: boolean
    get:
      operationId: get-v1-scans-scan_id-export
      summary: Export Scan
      description: Export scan results
      parameters:
        - name: type
          in: query
          description: 'json, csv, pdf (default json)'
          schema:
            type: string
            enum:
              - json
              - csv
              - pdf
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  export_id:
                    type: string
                required:
                  - export_id
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
    post:
      operationId: post-v1-scans-scan_id-export
      summary: Export Filtered Scan
      description: Export filtered scan results
      parameters:
        - name: type
          in: query
          description: 'json, csv, pdf (default json)'
          schema:
            type: string
            enum:
              - json
              - csv
              - pdf
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                vuln_status:
                  type: string
                severity:
                  type: array
                  items:
                    type: string
                host:
                  type: array
                  items:
                    type: string
                template:
                  type: array
                  items:
                    type: string
                search:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  export_id:
                    type: string
                required:
                  - export_id
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  /v1/scans/results/export:
    parameters:
      - name: async
        in: query
        schema:
          type: boolean
    post:
      operationId: post-v1-scans-results-export
      summary: Export filtered Scan results
      description: Export filtered scan results
      parameters:
        - name: type
          in: query
          description: 'json, csv, pdf (default json)'
          schema:
            type: string
            enum:
              - json
              - csv
              - pdf
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                vuln_status:
                  type: string
                severity:
                  type: array
                  items:
                    type: string
                host:
                  type: array
                  items:
                    type: string
                template:
                  type: array
                  items:
                    type: string
                search:
                  type: string
                scan_ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  export_id:
                    type: string
                required:
                  - export_id
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - export
  /v1/export/list:
    get:
      operationId: get-v1-export-list
      summary: Get export list for user
      parameters:
        - name: offset
          in: query
          description: The number of items to skip before starting to collect the result set
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: export_status
          in: query
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page:
                    type: integer
                  result_count:
                    type: integer
                  total_results:
                    type: integer
                  total_pages:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExportListItem'
                required:
                  - current_page
                  - result_count
                  - total_results
                  - total_pages
                  - data
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      tags:
        - export
  '/v1/scans/vuln/{vuln_id}/export':
    parameters:
      - name: vuln_id
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: get-v1-scans-vuln-vuln_id-export
      summary: Export Scan Vulnerability
      description: Export a specific scan vulnerability
      parameters:
        - name: type
          in: query
          description: 'json, csv (default json)'
          schema:
            type: string
            enum:
              - json
              - csv
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  /v1/scans/vulns:
    patch:
      operationId: patch-v1-scans-vulns
      summary: Update Vulnerability Status
      description: Batch update vulnerability status
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/PatchScanVulnsRequest'
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
    delete:
      operationId: delete-v1-scans-vulns
      summary: Delete Scan Vulnerability
      description: Batch Delete scan vulnerability
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DeleteVulnsRequest'
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  /v1/scans/vulns/labels:
    patch:
      operationId: patch-v1-scans-vulns-labels
      summary: Update Vulnerability Labels
      description: Batch update vulnerability labels
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/PatchScanVulnsLabelsRequest'
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  /v1/scans/config:
    get:
      operationId: get-v1-scans-config
      summary: Get Configs List
      description: Get user scan configurations list
      parameters:
        - name: type
          in: query
          description: filter by the type of config
          schema:
            type: string
            enum:
              - scan
              - reporting
              - template
              - alerting
              - cloudlist
        - name: search
          in: query
          description: search by config name
          schema:
            type: string
        - name: limit
          in: query
          description: The numbers of items to return
          schema:
            type: integer
        - name: offset
          in: query
          description: The number of items to skip before starting to collect the result set
          schema:
            type: integer
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConfigResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - configurations
    post:
      operationId: post-v1-scans-config
      summary: Add Config
      description: Add a new scan configuration
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  type: string
                config_type:
                  $ref: '#/components/schemas/ConfigTypeEnum'
                name:
                  type: string
                global:
                  type: boolean
              required:
                - config
                - name
      responses:
        '200':
          $ref: '#/components/responses/PostScanConfigResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - configurations
  '/v1/scans/config/{config_id}':
    parameters:
      - name: config_id
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: get-v1-scans-config-config_id
      summary: Get Config
      description: Get a scan configuration
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - configurations
    patch:
      operationId: patch-v1-scans-config-config_id
      summary: Update Config
      description: Update existing scan configuration
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                config:
                  type: string
                global:
                  type: boolean
      responses:
        '200':
          $ref: '#/components/responses/PostScanConfigResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - configurations
    delete:
      operationId: delete-v1-scans-config-config_id
      summary: Delete Config
      description: Delete scan configuration
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - configurations
  /v1/scans/config/verify:
    post:
      operationId: post-v1-scans-config-verify
      summary: Verify Config
      description: Verify scan configuration
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/VerifyConfigRequest'
      responses:
        '200':
          $ref: '#/components/responses/VerifyConfigResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - configurations
  /v1/scans/config/verify/contents:
    post:
      operationId: post-v1-scans-config-verify-contents
      summary: Get Verify Config Contents
      description: Get Verify scan configuration contents
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/VerifyConfigContentsRequest'
      responses:
        '200':
          $ref: '#/components/responses/VerifyConfigContentsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - configurations
  '/v1/scans/{scan_id}/config':
    parameters:
      - name: scan_id
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: get-scans-id-config
      summary: Get Scan Config
      description: 'Get scan metadata config '
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanConfig'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
    patch:
      operationId: patch-scans-id-config
      summary: Update Scan Config
      description: Update scan metadata config
      parameters:
        - name: update_type
          in: query
          description: 'Update type: append or replace'
          schema:
            type: string
            default: append
            enum:
              - append
              - replace
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanConfigUpdateItem'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - scans
  /v1/user/subscription:
    get:
      operationId: get-v1-user-subscription
      summary: Get Subscription Status
      description: Get user subscription status
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  amount:
                    type: integer
                  monthly_token:
                    type: integer
                  price_id:
                    type: string
                  recurrence:
                    type: string
                  from:
                    type: string
                  to:
                    type: string
                  card:
                    type: string
                  brand:
                    type: string
                  payment_mode:
                    type: string
                  cancel_at:
                    type: string
                  trial:
                    type: string
                required:
                  - status
                  - message
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
      security:
        - X-API-Key: []
      tags:
        - users
    patch:
      operationId: patch-v1-user-subscription
      summary: Update current subscription
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                price_id:
                  type: string
              required:
                - price_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  invoice:
                    type: string
                  status:
                    type: string
                required:
                  - message
                  - status
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      tags:
        - users
  /v1/asset/enumerate:
    get:
      operationId: get-v1-asset-enumerate
      summary: Get Enumeration List
      description: Get enumeration list
      parameters:
        - name: offset
          in: query
          description: The number of items to skip before starting to collect the result set
          schema:
            type: integer
        - name: limit
          in: query
          description: The numbers of items to return
          schema:
            type: integer
        - name: search
          in: query
          description: search keyword in enumeration list
          schema:
            type: string
        - name: enum_type
          in: query
          description: types of enumeration list (comma seperated)
          schema:
            type: string
        - name: sort_asc
          in: query
          description: 'comma separated ascending sorting e.g sort_asc=created_at,name'
          schema:
            type: string
        - name: sort_desc
          in: query
          description: 'comma separated descending sorting e.g sort_desc=created_at,name'
          schema:
            type: string
        - name: status
          in: query
          description: comma separated filter enumeration result by status
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/EnumerateResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - enumerations
    post:
      operationId: post-v1-asset-enumerate
      summary: Create Enumeration
      description: Create a new enumeration
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                root_domains:
                  type: array
                  items:
                    type: string
                enrichment_inputs:
                  type: array
                  items:
                    type: string
                cloudlist_config_ids:
                  type: array
                  items:
                    type: string
                name:
                  type: string
                steps:
                  type: array
                  items:
                    type: string
                    enum:
                      - dns_passive
                      - dns_resolve
                      - dns_bruteforce
                      - dns_permute
                      - port_scan
                      - http_probe
                      - http_screenshot
                enumeration_ports:
                  type: string
                alerting_config_ids:
                  type: array
                  items:
                    type: string
                disable_global_alert_config:
                  type: boolean
                exclude_targets:
                  type: array
                  items:
                    type: string
                enumeration_config:
                  type: object
                  properties:
                    follow-redirect:
                      type: boolean
                    ports:
                      type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  truncated-scan-targets:
                    type: integer
                required:
                  - id
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - enumerations
    delete:
      operationId: delete-v1-asset-enumerates
      summary: Delete Bulk Enumeration
      description: Delete enumeration by enumerate ids
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                asset_ids:
                  type: array
                  items:
                    type: string
              required:
                - asset_ids
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - enumerations
  '/v1/asset/enumerate/{enumerate_id}':
    parameters:
      - name: enumerate_id
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: get-v1-asset-enumerate-enumerate_id
      summary: Get Enumeration
      description: Get enumeration by enumerate_id
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetEnumerateIdContentsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - enumerations
    patch:
      operationId: patch-v1-asset-enumerate-enumerate_id
      summary: Update Enumeration
      description: Update enumeration by enumerate_id
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - enumerations
    delete:
      operationId: delete-v1-asset-enumerate-enumerate_id
      summary: Delete Enumeration
      description: Delete enumeration by enumerate_id
      parameters:
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - enumerations
  '/v1/asset/enumerate/{enumerate_id}/contents':
    parameters:
      - name: enumerate_id
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: get-v1-asset-enumerate-enumerate_id-contents
      summary: Get Enumeration Contents
      description: Get enumeration content by enumerate_id
      parameters:
        - name: offset
          in: query
          description: The number of items to skip before starting to collect the result set
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: The numbers of items to return
          schema:
            type: integer
            default: 100
        - name: is_tech
          in: query
          description: Return records that have technologies
          schema:
            type: boolean
        - name: is_favicon
          in: query
          description: Return the records that have favicon
          schema:
            type: boolean
        - name: search
          in: query
          description: Search on the content name
          schema:
            type: string
        - name: labels
          in: query
          description: 'Filter by comma separated labels, e.g-> labels=p1,p2'
          schema:
            type: string
        - name: is_new
          in: query
          description: Filter by new content
          schema:
            type: boolean
        - name: host
          in: query
          description: 'Filter by comma separated labels, e.g-> host=p1,p2'
          schema:
            type: string
        - name: port
          in: query
          description: 'Filter by port separated labels, e.g-> port=p1,p2'
          schema:
            type: string
        - name: status_code
          in: query
          description: 'Filter by status code separated labels, e.g-> status_code=p1,p2'
          schema:
            type: string
        - name: title
          in: query
          description: 'Filter by title separated labels, e.g-> title=p1,p2'
          schema:
            type: string
        - name: content_length
          in: query
          description: 'Filter by content length separated labels, e.g-> content_length=p1,p2'
          schema:
            type: string
        - name: cname
          in: query
          description: cname to filter
          schema:
            type: string
        - name: domain
          in: query
          description: 'Filter by domain names separated labels, e.g-> domain=domain1.com,domain2.com'
          schema:
            type: string
        - name: technologies
          in: query
          description: technologies to filter
          schema:
            type: string
        - name: ip
          in: query
          description: ips to filter
          schema:
            type: string
        - name: sort_asc
          in: query
          description: 'comma separated ascending sorting e.g sort_asc=created_at,name'
          schema:
            type: string
        - name: sort_desc
          in: query
          description: 'comma separated descending sorting e.g sort_desc=created_at,name'
          schema:
            type: string
        - name: is_screenshot
          in: query
          description: asset with screenshots
          schema:
            type: boolean
        - name: time
          in: query
          description: time filter to select
          schema:
            default: all_time
            $ref: '#/components/schemas/TimeRangeQueryParameter'
        - name: start_date
          in: query
          description: time filter start date
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: time filter end date
          schema:
            type: string
            format: date
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetEnumerateIdContents'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - enumerations
  /v1/asset/enumerate/contents:
    get:
      operationId: get-v1-asset-enumerate-contents
      summary: Get All Enumeration Contents
      description: Get All enumeration content
      parameters:
        - name: offset
          in: query
          description: The number of items to skip before starting to collect the result set
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: The numbers of items to return
          schema:
            type: integer
            default: 100
        - name: is_tech
          in: query
          description: Return records that have technologies
          schema:
            type: boolean
        - name: is_favicon
          in: query
          description: Return the records that have favicon
          schema:
            type: boolean
        - name: search
          in: query
          description: Search on the content name
          schema:
            type: string
        - name: labels
          in: query
          description: 'Filter by comma separated labels, e.g-> labels=p1,p2'
          schema:
            type: string
        - name: is_new
          in: query
          description: Filter by new content
          schema:
            type: boolean
        - name: host
          in: query
          description: 'Filter by comma separated labels, e.g-> host=p1,p2'
          schema:
            type: string
        - name: port
          in: query
          description: 'Filter by port separated labels, e.g-> port=p1,p2'
          schema:
            type: string
        - name: status_code
          in: query
          description: 'Filter by status code separated labels, e.g-> status_code=p1,p2'
          schema:
            type: string
        - name: title
          in: query
          description: 'Filter by title separated labels, e.g-> title=p1,p2'
          schema:
            type: string
        - name: content_length
          in: query
          description: 'Filter by content length separated labels, e.g-> content_length=p1,p2'
          schema:
            type: string
        - name: domain
          in: query
          description: 'Filter by domain names separated labels, e.g-> domain=domain1.com,domain2.com'
          schema:
            type: string
        - name: cname
          in: query
          description: cname to filter
          schema:
            type: string
        - name: technologies
          in: query
          description: technologies to filter
          schema:
            type: string
        - name: ip
          in: query
          description: ips to filter
          schema:
            type: string
        - name: sort_asc
          in: query
          description: 'comma separated ascending sorting e.g sort_asc=created_at,name'
          schema:
            type: string
        - name: sort_desc
          in: query
          description: 'comma separated descending sorting e.g sort_desc=created_at,name'
          schema:
            type: string
        - name: X-Team-Id
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetEnumerateIdContents'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      tags:
        - enumerations
  '/v1/asset/enumerate/{enumerate_id}/stop':
    parameters:
      - name: enumerate_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: post-v1-asset-enumerate-enumerate_id-stop
      summary: Stop Enumeration
      description: Stop a running enumeration
      parameters:
        - name: X-Team-Id
          in: header
[...]
