openapi: 3.1.0
info:
  title: PDCP API
  version: '1.0'
  summary: ProjectDiscovery Cloud Platform
  description: 'For more details, checkout https://docs.projectdiscovery.io/api-reference/editor/scan'
servers:
  - url: 'https://api.projectdiscovery.io'
    description: Production
  - url: 'https://api.dev.projectdiscovery.io'
    description: Development
  - url: 'http://localhost:8085'
    description: Localhost
paths:
  /v2/template/search:
    get:
      summary: Search Templates
      tags:
        - template/v2
      parameters:
        - schema:
            type: string
            enum:
              - public
              - private
              - public_private
            default: public_private
          in: query
          name: scope
          description: Scope of templates to search (public or private)
        - schema:
            type: integer
            default: 50
          in: query
          name: limit
          description: Maximum number of results to return
        - schema:
            type: integer
            default: 0
          in: query
          name: offset
          description: Number of results to skip for pagination
        - schema:
            type: string
            items:
              type: string
          in: query
          name: fields
          description: Specific fields to return in the response
          style: form
          explode: true
        - schema:
            type: string
          in: query
          name: sort_asc
          description: Field to sort results in ascending order
        - schema:
            type: string
          in: query
          name: sort_desc
          description: Field to sort results in descending order
        - schema:
            type: string
          in: query
          name: q
          description: Search query string
        - schema:
            type: boolean
            default: false
          in: query
          name: highlight
          description: Whether to highlight search matches in results
        - schema:
            type: integer
            default: 5
          in: query
          name: facet_size
          description: Number of facets to return in the response
        - schema:
            type: string
          in: header
          name: X-Team-Id
      responses:
        '200':
          description: Successful search response
          content:
            application/json:
              schema:
                type: object
                required:
                  - results
                  - total
                  - count
                  - facets
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/TemplateData'
                  total:
                    type: integer
                    description: Total number of matching results
                  count:
                    type: integer
                    description: Number of results in this response
                  facets:
                    $ref: '#/components/schemas/TemplateStats'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      description: 'Search templates with filtering, sorting, and faceting capabilities'
      operationId: get-v2-template-search
  /v2/template/user/upload:
    post:
      summary: Upload Templates
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - insert_errors
                  - total_files
                  - not_templates
                  - inserted
                  - invalid_templates
                properties:
                  insert_errors:
                    type: integer
                  total_files:
                    type: integer
                  not_templates:
                    type: integer
                  inserted:
                    type: integer
                  invalid_templates:
                    type: integer
                  templates:
                    type: array
                    items:
                      $ref: '#/components/schemas/TemplateData'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/MessageResponse'
      operationId: post-v2-template-user-upload
      description: 'Upload Private/User Templates (Max 10,000)'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - templates
              properties:
                templates:
                  type: array
                  items:
                    $ref: '#/components/schemas/UploadTemplate'
    patch:
      summary: Bulk Update User Template
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - success_count
                  - failure_count
                  - successful_items
                  - failed_items
                properties:
                  success_count:
                    type: integer
                  failure_count:
                    type: integer
                  successful_items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TemplateFileMetadata'
                  failed_items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FailedTemplateFileMetadataUpdate'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/MessageResponse'
      operationId: patch-v2-template-user-upload
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - templates
              properties:
                templates:
                  type: array
                  items:
                    $ref: '#/components/schemas/PatchTemplateFileMetadata'
      description: 'Bulk Updat Private/User Templates (Max 10,000)'
  /v1/scans:
    get:
      summary: Get Scan List
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/GetScansStatusResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans
      description: Get user scans status
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of scan-status results to skip
        - schema:
            type: integer
          in: query
          name: limit
          description: number of scan-status results to fetch
        - schema:
            type: string
          in: query
          name: search
          description: search term for running scans
        - schema:
            type: string
          in: query
          name: status
          description: 'filter by status (failed, finished, queued, running, starting, uploaded, scheduled)'
        - schema:
            type: string
          in: query
          name: sort_asc
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
        - schema:
            type: string
          in: query
          name: sort_desc
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
        - schema:
            type: boolean
          in: query
          name: is_internal
          description: filter by internal scans
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
      x-internal: false
    post:
      summary: Create Scan
      tags:
        - scans
      operationId: post-v1-scans
      responses:
        '200':
          $ref: '#/components/responses/TriggerUserScanResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      description: Trigger a scan
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/TriggerUserScanRequest'
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    delete:
      summary: Delete Scan in bulk
      tags:
        - scans
      operationId: delete-v1-scans
      responses:
        '200':
          $ref: '#/components/responses/DeleteScansResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - scan_ids
              properties:
                scan_ids:
                  type: array
                  items:
                    type: string
      description: Delete scans using scan ids
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  '/v1/scans/{scan_id}':
    parameters:
      - schema:
          type: string
        name: scan_id
        in: path
        required: true
    get:
      summary: Get Scan
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/GetScanDetailsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-scan_id
      description: Get details of a scan by scan ID
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    delete:
      summary: Delete Scan
      tags:
        - scans
      operationId: delete-v1-scans-scan_id
      responses:
        '200':
          $ref: '#/components/responses/DeleteScansResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      description: Delete a scan using scanId
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
    patch:
      summary: Update Scan
      tags:
        - scans
      operationId: patch-v1-scans-scan_id
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      description: Update scan metadata
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateScanRequest'
      parameters:
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
  /v1/scans/import:
    post:
      summary: Import OSS Scan
      tags:
        - scans
      operationId: post-v1-scans-import
      responses:
        '200':
          $ref: '#/components/responses/ImportScanResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      description: Import scan details
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      parameters:
        - schema:
            type: string
          in: query
          name: name
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  /v1/admin/user/search:
    get:
      summary: Search user by name or email
      tags:
        - internal
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: byte
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-admin-user-search
      x-internal: true
      parameters:
        - schema:
            type: string
          in: query
          name: q
          description: name or email filter
        - schema:
            type: string
            enum:
              - TRIAL
              - ENT_TRIAL
              - PRO
              - ENT
              - FREE
              - VERIFIED_FREE
              - GROWTH
          in: query
          name: plan
          description: plan filter
        - schema:
            type: integer
          in: query
          name: offset
          description: offset for pagination
        - schema:
            type: integer
          in: query
          name: limit
          description: limit for pagination
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  /v1/admin/user/billing_assets:
    get:
      summary: Get billing assets for a user
      tags:
        - internal
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: byte
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-admin-user-billing-assets
      x-internal: true
      parameters:
        - schema:
            type: string
          in: query
          name: email
          description: email of the user
          required: true
  /v1/admin/user/audit_logs:
    get:
      summary: Get audit logs for a user
      tags:
        - internal
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: byte
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-admin-user-audit-logs
      x-internal: true
      parameters:
        - schema:
            type: string
          in: query
          name: email
          description: email of the user
        - schema:
            type: integer
            format: int64
          in: query
          name: user_id
          description: user id of the user
        - schema:
            type: integer
          in: query
          name: offset
          description: offset for pagination
        - schema:
            type: string
          in: query
          name: path_name
          description: path name filter
        - schema:
            type: string
          in: query
          name: status_code
          description: 'status code filter comma separated e.g status_code=200,404'
        - schema:
            type: string
          in: query
          name: status_code_not
          description: 'status code not filter comma separated e.g status_code_not=200,404'
        - schema:
            type: integer
          in: query
          name: limit
          description: limit for pagination
  /v1/admin/team/change_owner:
    parameters:
      - in: header
        name: X-Team-ID
        required: true
        schema:
          type: string
    post:
      tags:
        - internal
      summary: change owner for a team (New owner will take control of the existing owner's subscription)
      operationId: post-v1-admin-team-change_owner
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - new_owner_email
              properties:
                new_owner_email:
                  type: string
      x-internal: true
  /v1/admin/scan/token:
    post:
      tags:
        - internal
      summary: Set Scan token for user
      operationId: post-v1-admin-scan-token
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - extra_token
                - email
              properties:
                base_token:
                  type: number
                base_domain_count:
                  type: integer
                extra_token:
                  type: number
                email:
                  type: string
                  description: Comma separated emails
                validity_months:
                  type: integer
                  minimum: 0
                  maximum: 12
                expire_at:
                  type: string
                  format: date-time
      x-internal: true
      parameters:
        - schema:
            type: string
            enum:
              - create
              - update
          in: query
          name: method
          description: '''create'' or ''update'' mode'
          required: true
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    parameters: []
    patch:
      tags:
        - internal
      summary: Update Scan token for user
      operationId: patch-v1-admin-scan-token
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                base_domain_count:
                  type: integer
                base_count:
                  type: integer
                extra_token:
                  type: number
                email:
                  type: string
                  description: Comma separated emails
                is_enforced_limit:
                  type: boolean
                tag:
                  type: string
                  enum:
                    - TRIAL
                    - ENT_TRIAL
                    - PRO
                    - ENT
                    - FREE
                    - VERIFIED_FREE
                    - GROWTH
                  description: user tag eg - TRIAL
                expire_at:
                  type: string
                  format: date-time
      x-internal: true
      parameters:
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
    get:
      summary: Get Token Usage (admin)
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/GetScansTokenResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-admin-scan-token
      description: Get token usage for given user
      parameters:
        - schema:
            type: integer
          in: query
          name: user_id
          description: user id to get scan token usage for
          required: true
        - schema:
            type: string
          in: query
          name: email
          description: email to get scan token usage for
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
  '/v1/scans/{scan_id}/stop':
    parameters:
      - schema:
          type: string
        name: scan_id
        in: path
        required: true
    post:
      summary: Stop Scan
      tags:
        - scans
      operationId: post-v1-scans-scan_id-stop
      responses:
        '200':
          $ref: '#/components/responses/DeleteScansResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: 'Stop a running scan, not applied in any other state.'
      parameters:
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
  '/v1/scans/{scan_id}/rescan':
    parameters:
      - schema:
          type: string
        name: scan_id
        in: path
        required: true
    post:
      summary: Rescan scan
      tags:
        - scans
      operationId: post-v1-scans-scan_id-rescan
      responses:
        '200':
          $ref: '#/components/responses/TriggerUserScanResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Re-run a existing scan
      parameters:
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
  '/v1/scans/vuln/{vuln_id}':
    get:
      summary: Get Scan Vulnerability
      tags:
        - results
      responses:
        '200':
          $ref: '#/components/responses/GetScansVulnIdResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: 'get-v1-scans-vuln-:vulnId'
      description: 'Get scan result vulnerability by ID '
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
    parameters:
      - schema:
          type: string
        name: vuln_id
        in: path
        required: true
        description: vulnerability ID
  '/v1/scans/result/{scanId}':
    get:
      summary: Get Scan Results
      tags:
        - results
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: 'get-v1-scans-result-:scanId'
      description: get results of specific scan by id
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: query
          name: severity
          description: 'comma separated severity e.g. severity=info,high'
        - schema:
            type: string
          in: query
          name: search
          description: search term
        - schema:
            type: integer
          in: query
          name: limit
          description: 'number of results '
        - schema:
            type: integer
          in: query
          name: offset
          description: number of results to skip
        - schema:
            type: string
          in: query
          name: templates
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
        - schema:
            type: string
          in: query
          name: hosts
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
        - in: query
          name: domain
          schema:
            type: string
          description: 'comma separated domain names e.g-> domain=domain1.com,domain2.com'
        - in: query
          name: port
          schema:
            type: string
          description: 'comma separated ports e.g. ports=80,443'
        - schema:
            type: string
          in: query
          description: 'filter by time ( last_day, last_week, last_month )'
          name: time
        - schema:
            type: string
          in: query
          name: vuln_status
          description: 'comma separated vuln_status e.g vuln_status=open,fixed'
        - schema:
            type: string
          in: query
          name: sort_asc
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
        - schema:
            type: string
          in: query
          name: sort_desc
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
        - schema:
            type: boolean
          in: query
          name: asset_metadata
          description: Asset details for the vulnerability
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
    parameters:
      - schema:
          type: string
        name: scanId
        in: path
        required: true
        description: scan specific results (by scanId)
  '/v1/scans/vuln/{vuln_id}/changelogs':
    get:
      summary: Get Vulnerability Changelogs
      tags:
        - results
      responses:
        '200':
          $ref: '#/components/responses/GetVulnChangelogsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-vuln-vuln_id-changelogs
      description: get changelogs of specific vulnerability by id
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
            enum:
              - last_day
              - last_week
              - last_month
              - last_3_months
              - last_6_months
              - last_12_months
              - all_time
            default: all_time
          in: query
          name: time
          description: time filter to select
        - schema:
            type: string
          in: query
          name: event_type
          description: 'comma separated event_type e.g. event_type=vul_status,vul_status_change'
        - schema:
            type: string
          in: query
          name: sort_asc
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
        - schema:
            type: string
          in: query
          name: sort_desc
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
        - schema:
            type: integer
          in: query
          name: limit
          description: number of results to get
        - schema:
            type: integer
          in: query
          name: offset
          description: number of results to skip
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
    parameters:
      - schema:
          type: string
        name: vuln_id
        in: path
        required: true
        description: vulnerability ID
  /v1/scans/vuln/changelogs:
    get:
      summary: Get all Vulnerability Changelogs
      tags:
        - results
      responses:
        '200':
          $ref: '#/components/responses/GetVulnChangelogsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-vuln-changelogs
      description: get changelogs of all vulnerabilities
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
            enum:
              - last_day
              - last_week
              - last_month
              - last_3_months
              - last_6_months
              - last_12_months
              - all_time
            default: all_time
          in: query
          name: time
          description: time filter to select
        - schema:
            type: string
          in: query
          name: event_type
          description: 'comma separated event_type e.g. event_type=vul_status,vul_status_change'
        - schema:
            type: string
          in: query
          name: sort_asc
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
        - schema:
            type: string
          in: query
          name: sort_desc
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
        - schema:
            type: integer
          in: query
          name: limit
          description: number of results to get
        - schema:
            type: integer
          in: query
          name: offset
          description: number of results to skip
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
  /v1/scans/results:
    get:
      summary: Get All Results
      tags:
        - results
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-results
      description: Get scans results of a user
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of results to skip
        - schema:
            type: integer
          in: query
          name: limit
          description: number of results to get
        - schema:
            type: string
          in: query
          name: severity
          description: 'string separated by comma e.g. info,high'
        - schema:
            type: string
          in: query
          name: search
          description: search term
        - schema:
            type: string
          in: query
          name: host
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
        - in: query
          name: domain
          schema:
            type: string
          description: 'comma separated domain names e.g-> domain=domain1.com,domain2.com'
        - in: query
          name: port
          schema:
            type: string
          description: 'comma separated ports e.g. ports=80,443'
        - schema:
            type: string
          in: query
          name: templates
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
        - schema:
            type: string
          in: query
          name: time
          description: 'filter by time ( last_day, last_week, last_month )'
        - schema:
            type: string
          in: query
          name: vuln_status
          description: 'comma separated vuln_status e.g vuln_status=open,fixed'
        - schema:
            type: string
          in: query
          name: tags
          description: 'comma separated tags e.g tags=xss,cve'
        - schema:
            type: string
          in: query
          name: sort_asc
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
        - schema:
            type: string
          in: query
          name: sort_desc
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
        - schema:
            type: boolean
          in: query
          name: is_ticket
          description: Return the records that have issue trackers
        - in: query
          name: labels
          schema:
            type: string
          description: 'filter by comma separated labels e.g labels=p1,p2'
        - in: query
          name: category
          schema:
            type: string
          description: 'filter by comma separated categories e.g category=cve,xss'
        - in: query
          name: is_regression
          schema:
            type: boolean
          description: filter by is_regression
        - in: query
          name: is_internal
          schema:
            type: boolean
          description: filter by is_internal (internal vs external hosts)
        - schema:
            type: boolean
          in: query
          name: asset_metadata
          description: Asset details for the vulnerability
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
      security:
        - X-API-Key: []
    parameters: []
  /v1/scans/stats:
    get:
      summary: Get All Scan Stats
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/ScanStatsResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-stats
      parameters:
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
      security:
        - X-API-Key: []
      description: Get all scans statistics for a user
  '/v1/scans/{vuln_id}/retest':
    parameters:
      - schema:
          type: string
        name: vuln_id
        in: path
        required: true
    post:
      summary: Retest vulnerability
      tags:
        - scans
      operationId: post-v1-scans-vuln_id-retest
      responses:
        '200':
          $ref: '#/components/responses/PostRescanVulnResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Retest a scan vulnerability
      parameters:
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                socks5_proxy:
                  type: string
                agent_id:
                  type: string
                agent_tags:
                  type: array
                  items:
                    type: string
                agent_networks:
                  type: array
                  items:
                    type: string
  /v1/scans/results/filters:
    get:
      summary: Get Scans Result Filters
      tags:
        - results
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultsFiltersResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-results-filters
      description: Get users scan-result filters
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: The number of items to skip before starting to collect the result set
        - schema:
            type: integer
          in: query
          name: limit
          description: The numbers of items to return
        - schema:
            type: string
          in: query
          name: scan_id
          description: specific scan_id results filters
        - schema:
            type: string
          in: query
          name: severity
          description: 'comma separated severity e.g. severities=info,high'
        - schema:
            type: string
          in: query
          name: templates
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
        - schema:
            type: string
          in: query
          name: host
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
        - in: query
          name: domain
          schema:
            type: string
          description: 'comma separated domain names e.g-> domain=domain1.com,domain2.com'
        - in: query
          name: port
          schema:
            type: string
          description: 'comma separated ports e.g. ports=80,443'
        - schema:
            type: string
          in: query
          name: search
          description: search term
        - schema:
            type: string
          in: query
          name: type
          required: true
          description: type of filter
        - schema:
            type: string
          in: query
          name: time
          description: 'filter by time ( last_day, last_week, last_month )'
        - schema:
            type: string
          in: query
          name: vuln_status
          description: 'comma separated vuln_status e.g vuln_status=open,fixed'
        - schema:
            type: string
          in: query
          name: sort_asc
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
        - schema:
            type: string
          in: query
          name: sort_desc
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
        - schema:
            type: string
          in: query
          name: tags
          description: 'comma separated tags e.g tags=xss,cve'
        - schema:
            type: string
          in: query
          name: not_hosts
          description: 'comma separated hosts that should not be returned e.g. not_hosts=https://example.com,https://x.com'
        - schema:
            type: string
          in: query
          name: not_severity
          description: 'comma separated severity that should not be returned e.g. not_severity=info,high'
        - schema:
            type: string
          in: query
          name: not_templates
          description: 'comma separated templates that should not be returned e.g. not_templates=tech-detect,azure-takeover'
        - in: query
          name: labels
          schema:
            type: string
          description: 'filter by comma separated labels e.g labels=p1,p2'
        - in: query
          name: category
          schema:
            type: string
          description: 'filter by comma separated categories e.g category=cve,xss'
        - in: query
          name: is_regression
          schema:
            type: boolean
          description: filter by is_regression
        - in: query
          name: is_internal
          schema:
            type: boolean
          description: filter by is_internal (internal vs external hosts)
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
        - schema:
            type: string
            format: date
          in: query
          name: start_date
          description: time filter start date
        - schema:
            type: string
            format: date
          in: query
          name: end_date
          description: time filter end date
  /v1/scans/results/stats:
    get:
      summary: Get Results Stats
      tags:
        - results
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultStatsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-results-stats
      description: Get user scan results stats
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: The number of items to skip before starting to collect the result set
        - schema:
            type: integer
          in: query
          name: limit
          description: The numbers of items to return
        - schema:
            type: string
          in: query
          name: host
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
        - in: query
          name: domain
          schema:
            type: string
          description: 'comma separated domain names e.g-> domain=domain1.com,domain2.com'
        - in: query
          name: port
          schema:
            type: string
          description: 'comma separated ports e.g. ports=80,443'
        - schema:
            type: string
          in: query
          name: templates
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
        - schema:
            type: string
          in: query
          name: severity
          description: 'comma separated severity e.g. severities=info,high'
        - schema:
            type: string
          in: query
          name: search
          description: search term
        - schema:
            type: string
          in: query
          name: scan_id
          description: specific scan_id results filters
        - schema:
            type: string
          in: query
          description: 'filter by time ( last_day, last_week, last_month )'
          name: time
        - schema:
            type: string
          in: query
          name: vuln_status
          description: 'comma separated vuln_status e.g vuln_status=open,fixed'
        - schema:
            type: string
          in: query
          name: tags
          description: 'comma separated tags e.g tags=xss,cve'
        - schema:
            type: string
          in: query
          name: not_hosts
          description: 'comma separated hosts that should not be returned e.g. not_hosts=https://example.com,https://x.com'
        - schema:
            type: string
          in: query
          name: not_severity
          description: 'comma separated severity that should not be returned e.g. not_severity=info,high'
        - schema:
            type: string
          in: query
          name: not_templates
          description: 'comma separated templates that should not be returned e.g. not_templates=tech-detect,azure-takeover'
        - in: query
          name: labels
          schema:
            type: string
          description: 'filter by comma separated labels e.g labels=p1,p2'
        - in: query
          name: category
          schema:
            type: string
          description: 'filter by comma separated categories e.g category=cve,xss'
        - in: query
          name: is_regression
          schema:
            type: boolean
          description: filter by is_regression
        - in: query
          name: is_internal
          schema:
            type: boolean
          description: filter by is_internal (internal vs external hosts)
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
        - schema:
            type: string
            format: date
          in: query
          name: start_date
          description: time filter start date
        - schema:
            type: string
            format: date
          in: query
          name: end_date
          description: time filter end date
  /v1/scans/schedule:
    get:
      summary: Get Scan Schedules
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/GetScanScheduleResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-schedule
      description: Get scan schedules for a user
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    post:
      summary: Set Scan Schedule
      tags:
        - scans
      operationId: post-v1-scans-schedule
      responses:
        '200':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      description: 'set a scan schedule for a user '
      requestBody:
        $ref: '#/components/requestBodies/SetScanScheduleRequest'
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    delete:
      summary: Delete Scan Schedule
      tags:
        - scans
      operationId: delete-v1-scans-schedule
      responses:
        '200':
          $ref: '#/components/responses/DeleteScanScheduleResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      parameters:
        - schema:
            type: string
          in: query
          name: scan_id
          required: true
          description: scan_id of schedule to be deleted
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
      security:
        - X-API-Key: []
      description: Delete scan schedule for a user
  /v1/retest:
    get:
      summary: Get All Retest
      tags:
        - retests
      responses:
        '200':
          $ref: '#/components/responses/GetRetestResultsResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-retest
      description: Get user retest results
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of results to skip
          required: true
        - schema:
            type: integer
          in: query
          name: limit
          description: number of results
          required: true
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    post:
      summary: Create Retest
      tags:
        - retests
      operationId: post-v1-retest
      responses:
        '200':
          $ref: '#/components/responses/PostRetestTemplateResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      description: Trigger a retest scan
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/RetestTemplateRequest'
      parameters:
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
    parameters: []
  '/v1/retest/{vuln_id}':
    get:
      summary: Get Retest Vulnerability
      tags:
        - retests
      responses:
        '200':
          $ref: '#/components/responses/GetSingleRetestResultResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-retest-vuln_id
      security:
        - X-API-Key: []
      description: Get retest vulnerability (retests from editor)
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    parameters:
      - schema:
          type: string
        name: vuln_id
        in: path
        required: true
  /v1/assets:
    get:
      summary: Get Asset List
      tags:
        - assets
      responses:
        '200':
          $ref: '#/components/responses/GetAssetsListResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-assets
      description: Get user asset list
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of assets to skip
        - schema:
            type: integer
          in: query
          name: limit
          description: number of assets to fetch
        - schema:
            type: string
          in: query
          name: search
          description: search term for asset list
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    post:
      summary: Upload Asset
      tags:
        - assets
      operationId: post-v1-assets
      responses:
        '200':
          $ref: '#/components/responses/UploadAssetResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      parameters:
        - schema:
            type: string
          in: query
          name: name
          description: name of asset
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
        - schema:
            type: string
          in: header
          description: set the content type header
          name: Content-Type
      description: Manually upload user assets (uploaded to manual enumeration)
  '/v1/assets/{asset_Id}':
    parameters:
      - schema:
          type: string
        name: asset_Id
        in: path
        required: true
    get:
      summary: Get Asset Metadata
      tags:
        - assets
      responses:
        '200':
          $ref: '#/components/responses/GetUserAssetResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-assets-assetId
      security:
        - X-API-Key: []
      description: Get asset metadata
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    delete:
      summary: Delete Asset
      tags:
        - assets
      operationId: delete-v1-assets-asset_Id
      responses:
        '200':
          $ref: '#/components/responses/DeleteAssetResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Delete asset by ID
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    patch:
      summary: Update Asset Metadata
      tags:
        - assets
      operationId: patch-v1-assets-asset_Id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateAssetRequest'
      description: Update asset metadata
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  '/v1/assets/{asset_id}/contents':
    get:
      summary: Get Asset Content
      tags:
        - assets
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-assets-id-contents
      security:
        - X-API-Key: []
      description: Get user asset content
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    parameters:
      - schema:
          type: string
        name: asset_id
        in: path
        required: true
    patch:
      summary: Update Asset Content
      tags:
        - assets
      operationId: patch-v1-assets-asset_id-contents
      responses:
        '200':
          $ref: '#/components/responses/PatchAssetContentResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
            enum:
              - append
              - replace
          in: query
          name: update_type
          description: 'use append or replace '
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
        - schema:
            type: string
          in: header
          description: set the content type header
          name: Content-Type
      description: Update existing asset content
  /v1/user/notification_preference:
    get:
      summary: Get User Notification Preferences
      operationId: get-v1-user-notification-preference
      tags:
        - user
      responses:
        '200':
          description: User notification preferences
          content:
            application/json:
              schema:
                type: object
                required:
                  - weekly_digest_email
                  - onboard_preference
                  - real_time_autoscan
                  - enable_auto_retest
                properties:
                  weekly_digest_email:
                    type: boolean
                    description: Whether to receive weekly digest emails
                  onboard_preference:
                    type: object
                    additionalProperties: true
                    description: Dynamic key-value pairs for onboarding preferences
                  real_time_autoscan:
                    type: boolean
                    description: Whether to receive real-time autoscan notifications
                  enable_auto_retest:
                    type: boolean
                    description: Whether to enable auto retest
                  leaks_notifications:
                    type: object
                    description: Leak notification preferences by type
                    properties:
                      my_leaks:
                        type: boolean
                        description: Personal email leak notifications
                      employee_leaks:
                        type: boolean
                        description: Corporate/employee domain leak notifications
                      customer_leaks:
                        type: boolean
                        description: Customer domain leak notifications
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Get user's notification preferences
    patch:
      summary: Update User Notification Preferences
      operationId: patch-v1-user-notification-preference
      tags:
        - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                weekly_digest_email:
                  type: boolean
                  description: Whether to receive weekly digest emails
                onboard_preference:
                  type: object
                  additionalProperties: true
                  description: Dynamic key-value pairs for onboarding preferences
                leaks_notifications:
                  type: object
                  description: Leak notification preferences by type
                  properties:
                    my_leaks:
                      type: boolean
                      description: Personal email leak notifications
                    employee_leaks:
                      type: boolean
                      description: Corporate/employee domain leak notifications
                    customer_leaks:
                      type: boolean
                      description: Customer domain leak notifications
                real_time_autoscan:
                  type: boolean
                  description: Whether to receive real-time autoscan notifications
                enable_auto_retest:
                  type: boolean
                  description: Whether to enable auto retest
      responses:
        '200':
          description: Successfully updated notification preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Notification preferences updated successfully
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Update user's notification preferences
  /v1/user/feedback:
    post:
      summary: Create Feedback
      tags:
        - users
      operationId: post-v1-user-feedback
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/PostFeedbackRequest'
      description: Add user feedback
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  /v1/user/delete/code:
    parameters: []
    post:
      summary: Email user deletion verification code
      tags:
        - users
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: post-v1-user-delete-code
      security:
        - X-API-Key: []
      description: generate and email user deletion verification code
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  /v1/user:
    get:
      summary: Get User Profile
      tags:
        - users
      responses:
        '200':
          $ref: '#/components/responses/GetUserProfileResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-user
      security:
        - X-API-Key: []
      description: Get user profile and permissions
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    delete:
      summary: Delete user from system along with all data
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
              required:
                - code
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: delete-v1-user
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  /v1/user/apikey:
    get:
      summary: Get API Key
      tags:
        - users
      responses:
        '200':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-user-apikey
      security:
        - X-API-Key: []
      description: Get user api-key
    post:
      summary: Create API Key
      tags:
        - users
      operationId: post-v1-user-apikey
      responses:
        '200':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: 'Create user api-key, this won''t create a new api-key if it already exists.'
    delete:
      summary: Delete API Key
      tags:
        - users
      operationId: delete-v1-user-apikey
      responses:
        '200':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Delete user api-key
  /v1/user/onboarding_status:
    get:
      summary: Get User Setup Statistics
      tags:
        - users
        - internal
      operationId: get-v1-user-setup-stats
      responses:
        '200':
          $ref: '#/components/responses/GetUserSetupStatsResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Get user setup statistics
  /v1/user/billing_assets:
    get:
      summary: Get Billing Assets details
      tags:
        - users
        - internal
      operationId: get-v1-user-billing-assets
      responses:
        '200':
          $ref: '#/components/responses/GetBillingAssetsResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Get billing assets details
  /v1/user/promo_code:
    get:
      summary: Get Promocode Details
      tags:
        - users
      operationId: get-v1-user-promocode
      responses:
        '200':
          $ref: '#/components/responses/GetPromocodeDetailsResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: query
          required: true
          name: promo_code
          description: Promocode to get details for
      description: Get promocode details
    post:
      summary: Apply Promocode
      tags:
        - users
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: post-v1-user-promocode
      security:
        - X-API-Key: []
      description: Apply promocode
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                promo_code:
                  type: string
              required:
                - promo_code
  /v1/user/apikey/rotate:
    post:
      summary: Rotate API Key
      tags:
        - users
      operationId: post-v1-user-apikey-rotate
      responses:
        '200':
          $ref: '#/components/responses/PostApiKeyRotateResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Rotate user api-key
  /v1/user/domain-verification/request:
    post:
      summary: Request Domain Verification
      tags:
        - users
      operationId: post-v1-user-domain-verification-request
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  domain:
                    type: string
                    description: The domain to be verified
                  verification_string:
                    type: string
                    description: The TXT record value to add to DNS
                required:
                  - domain
                  - verification_string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '429':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: 'Root domain to verify (e.g., example.com)'
                  example: example.com
              required:
                - domain
      description: Request domain ownership verification through DNS TXT record. Only root domains are supported.
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    delete:
      summary: Request Domain Delete
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - domain
                  - message
                properties:
                  domain:
                    type: string
                    description: The domain to be deleted
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '429':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: delete-v1-user-domain-verification-request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - domain
              properties:
                domain:
                  type: string
                  description: 'Root domain to delete (e.g., example.com)'
      description: Delete domain verification request. Only root domains are supported.
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
  /v1/user/domain-verification/confirm:
    post:
      summary: Confirm Domain Verification
      tags:
        - users
      operationId: post-v1-user-domain-verification-confirm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
                  domain:
                    type: string
                    description: The verified domain
                required:
                  - message
                  - domain
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                required:
                  - message
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: Root domain to confirm verification for
                  example: example.com
              required:
                - domain
      description: Confirm domain ownership by checking if the required DNS TXT record has been added.
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  /v1/user/domain-verification/status:
    get:
      summary: Get Domain Verification Status
      tags:
        - users
      operationId: get-v1-user-domain-verification-status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  verification_requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/DomainVerificationRequest'
                required:
                  - verification_requests
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: 'Get the status of all domain verification requests for the authenticated user, including pending, verified, and expired requests.'
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  /v1/template/public:
    get:
      summary: Get Public Template List
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetPublicTemplateList'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-template-public
      description: Get public-template list
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
        - schema:
            type: integer
          in: query
          name: offset
          description: Pagination offset (no. of results to skip)
        - schema:
            type: integer
          in: query
          name: limit
          description: Pagination limit (max no. of results in response)
        - schema:
            type: string
          in: query
          description: 'template data fields '
          name: fields
  /v1/template/early:
    get:
      summary: Get Early Template List
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetEarlyTempateList'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-early-templates
      description: Get pdcp early template lists
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
        - schema:
            type: integer
          in: query
          name: offset
        - schema:
            type: integer
          in: query
          name: limit
        - schema:
            type: string
          in: query
          name: fields
    parameters: []
  '/v1/template/early/{id}':
    get:
      summary: Get Early Template
      tags:
        - templates
      responses:
        '200':
          description: Shared Response
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                  template:
                    $ref: '#/components/schemas/TemplateData'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-early-templates-id
      description: Get early template text
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
  '/v1/template/public/{template_id}':
    get:
      summary: Get Public Template
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetTemplateDataResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-public-template-data
      description: Get public template data
      parameters:
        - schema:
            type: string
          in: query
          name: fields
          description: 'template data fields '
        - schema:
            type: string
          in: header
          name: X-Team-Id
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
    parameters:
      - schema:
          type: string
        name: template_id
        in: path
        required: true
        description: 'unique Id of template '
  /v1/template:
    get:
      summary: Get Template List
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetUserTemplateListResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-templates
      security:
        - X-API-Key: []
      description: Get user private(my) templates
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
        - schema:
            type: integer
          in: query
          name: offset
        - schema:
            type: integer
          in: query
          name: limit
        - schema:
            type: string
          in: query
          name: fields
    parameters: []
    post:
      summary: Create Template
      tags:
        - templates
      operationId: post-v1-template
      responses:
        '200':
          $ref: '#/components/responses/CreateTemplateResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - template
              properties:
                template:
                  type: string
                  description: |
                    Template in text format
                prompt:
                  type: string
      description: Create a private template
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
        - schema:
            type: string
          in: query
          name: filename
          description: filename for template
        - schema:
            type: string
          in: query
          name: dir
          description: directories for template
    patch:
      summary: Update Template
      tags:
        - templates
      operationId: patch-v1-template
      responses:
        '200':
          $ref: '#/components/responses/UpdateTemplateResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateTemplateRequest'
      description: 'Update existing private template '
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  '/v1/template/{template_id}':
    parameters:
      - schema:
          type: string
        name: template_id
        in: path
        required: true
        description: 'unique Id of template '
    get:
      summary: Get Template
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetTemplateResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-template-t_id
      security:
        - X-API-Key: []
      description: Get private template text using ID
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
    delete:
      summary: Delete Template
      tags:
        - templates
      operationId: delete-v1-template-template_id
      responses:
        '200':
          $ref: '#/components/responses/DeleteTemplateResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Delete private template using ID
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  /v1/template/ai:
    post:
      summary: Generate AI Template
      tags:
        - templates
      operationId: post-v1-template-ai
      responses:
        '200':
          $ref: '#/components/responses/GenerateTemplateResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        $ref: '#/components/requestBodies/GenerateTemplateRequest'
      security:
        - X-API-Key: []
      description: Generate a private template with AI Engine
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  /v1/template/share:
    get:
      summary: Get Shared Template List
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetShareStatusResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-template-share
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
        - schema:
            type: string
          in: query
          name: fields
        - schema:
            type: integer
          in: query
          name: limit
          description: Limit The numbers of items to return
        - schema:
            type: integer
          in: query
          name: offset
          description: Offset The numbers of items to skip
        - schema:
            type: string
          in: query
          description: SortAsc Sort results in ascending order (CSV field names)
          name: sort_asc
        - schema:
            type: string
          in: query
          name: sort_desc
          description: SortDesc Sort results in descending order (CSV field names)
      description: Shared template list
    post:
      summary: Share Template
      tags:
        - templates
      operationId: post-v1-template-share
      responses:
        '200':
          $ref: '#/components/responses/ShareTemplateResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/ShareTemplateRequest'
      description: Share a private template (shared-with-link)
      parameters:
        - schema:
            type: string
          in: header
          description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
          name: X-Team-Id
  '/v1/template/share/{template_id}':
    parameters:
      - schema:
          type: string
        name: template_id
        in: path
        required: true
        description: unique template ID
    get:
      summary: Get Shared Template
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetSharedTemplateResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-template-share-template_id
      parameters:
        - schema:
            type: string
          in: query
          name: fields
          description: 'get selected fields e.g. name,template_id,severity, etc'
      description: Get a shared template text
      requestBody:
        content: {}
    patch:
      summary: Update Shared Template
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/UpdateSharedTemplateResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: patch-v1-template-share-template_id
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ttl:
                  type: string
                share_type:
                  type: string
                users:
                  type: array
                  items:
                    type: integer
                emails:
                  type: array
                  items:
                    type: string
                organizations:
                  type: array
                  items:
                    type: string
    delete:
      summary: Unshare/Delete template
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: delete-v1-template-share-template_id
  /v1/admin/user/profile:
    patch:
      summary: Patch User Profile
      operationId: patch-v1-admin-user-profile
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/PatchUserProfileResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
[...]
