openapi: 3.1.0
x-stoplight:
  id: 0rl2vnd6vvy8g
info:
  title: PDCP API
  version: '1.0'
  summary: ProjectDiscovery Cloud Platform
  description: 'For more details, checkout https://docs.projectdiscovery.io/api-reference/editor/scan'
servers:
  - url: 'https://api.projectdiscovery.io'
    description: Production
  - url: 'https://api.dev.projectdiscovery.io'
    description: Development
  - url: 'http://localhost:8080'
    description: Localhost
paths:
  /v1/scans:
    get:
      summary: Get Scans Status
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetScansStatusResponse'
        '401':
          $ref: '#/components/responses/GetScansStatusResponse'
      operationId: get-v1-scans
      x-stoplight:
        id: vehrqazht3nti
      description: Get user scans status
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of scan-status results to skip
          required: true
        - schema:
            type: integer
          in: query
          name: limit
          description: number of scan-status results to fetch
          required: true
        - schema:
            type: string
          in: query
          name: search
          description: search term for running scans
        - schema:
            type: string
          in: query
          name: status
          description: 'filter by status (failed, finished, queued, running, starting, uploaded)'
    post:
      summary: Create Scan
      operationId: post-v1-scans
      responses:
        '200':
          $ref: '#/components/responses/TriggerUserScanResponse'
        '401':
          $ref: '#/components/responses/TriggerUserScanResponse'
        '500':
          $ref: '#/components/responses/TriggerUserScanResponse'
      x-stoplight:
        id: 9k5vgctxnaa1v
      description: Trigger a scan
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/TriggerUserScanRequest'
      parameters: []
  '/v1/scans/{scan_id}':
    parameters:
      - schema:
          type: string
        name: scan_id
        in: path
        required: true
    get:
      summary: Get Scan by ID
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetScanDetailsResponse'
        '401':
          $ref: '#/components/responses/GetScanDetailsResponse'
        '500':
          $ref: '#/components/responses/GetScanDetailsResponse'
      operationId: get-v1-scans-scan_id
      x-stoplight:
        id: kifpbc6tmxxn0
      description: Get details of a scan
      security:
        - X-API-Key: []
    delete:
      summary: Delete Scan
      operationId: delete-v1-scans-scan_id
      responses:
        '200':
          $ref: '#/components/responses/DeleteScansResponse'
        '401':
          $ref: '#/components/responses/DeleteScansResponse'
        '500':
          $ref: '#/components/responses/DeleteTemplateResponse'
      x-stoplight:
        id: ro4gg6v4vio4f
      description: Delete a scan using scanId
      security:
        - X-API-Key: []
    patch:
      summary: Update Scan
      operationId: patch-v1-scans-scan_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    x-stoplight:
                      id: qcrabl75dzbj3
                required:
                  - message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    x-stoplight:
                      id: d95zf9shl0ky9
                required:
                  - message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    x-stoplight:
                      id: 2jykm3iw05bqh
                required:
                  - message
      x-stoplight:
        id: 9xxd3phxxwrle
      description: ''
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateScanRequest'
  '/v1/scans/result/{scanId}':
    get:
      summary: Get Result by scanID
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultsResponse'
        '500':
          $ref: '#/components/responses/GetScanResultsResponse'
        '501':
          $ref: '#/components/responses/GetScanResultsResponse'
      operationId: 'get-v1-scans-result-:scanId'
      x-stoplight:
        id: vxpsvnuyxwxf7
      description: get results of specific scan by id
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: query
          name: severity
          description: 'comma separated severity e.g. severity=info,high'
        - schema:
            type: string
          in: query
          name: search
          description: search term
        - schema:
            type: integer
          in: query
          name: limit
          description: 'number of results '
          required: true
        - schema:
            type: integer
          in: query
          name: offset
          required: true
          description: number of results to skip
        - schema:
            type: string
          in: query
          name: templates
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
        - schema:
            type: string
          in: query
          name: hosts
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
    parameters:
      - schema:
          type: string
        name: scanId
        in: path
        required: true
        description: scan specific results (by scanId)
  '/v1/scans/{scan_id}/stop':
    get:
      summary: Stop Scan
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteScansResponse'
        '400':
          $ref: '#/components/responses/DeleteScansResponse'
        '401':
          $ref: '#/components/responses/DeleteScansResponse'
        '500':
          $ref: '#/components/responses/DeleteScansResponse'
      operationId: get-v1-scans-scan_id-stop
      x-stoplight:
        id: vhzvtqcwehecm
      description: ''
      security:
        - X-API-Key: []
    parameters:
      - schema:
          type: string
        name: scan_id
        in: path
        required: true
  /v1/scans/results:
    get:
      summary: Get Results
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultsResponse'
        '401':
          $ref: '#/components/responses/GetScanResultsResponse'
        '500':
          $ref: '#/components/responses/GetScanResultsResponse'
      operationId: get-v1-results
      x-stoplight:
        id: zhs78n78vf7i3
      description: Get scans results of a user
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          required: true
          description: number of results to skip
        - schema:
            type: integer
          in: query
          required: true
          name: limit
          description: number of results to get
        - schema:
            type: string
          in: query
          name: severity
          description: 'string separated by comma e.g. info,high'
        - schema:
            type: string
          in: query
          name: search
          description: search term
        - schema:
            type: string
          in: query
          name: hosts
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
        - schema:
            type: string
          in: query
          name: templates
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
        - schema:
            type: string
          in: query
          name: time
          description: 'filter by time ( last_day, last_week, last_month )'
      security:
        - X-API-Key: []
    parameters: []
  /v1/retest:
    get:
      summary: Get Retest Results
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetRetestResultsResponse'
        '401':
          $ref: '#/components/responses/GetRetestResultsResponse'
        '500':
          $ref: '#/components/responses/GetRetestResultsResponse'
      operationId: get-v1-retest
      x-stoplight:
        id: ksnjjw62nsfyt
      description: Get user retest results
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of results to skip
          required: true
        - schema:
            type: integer
          in: query
          name: limit
          description: number of results
          required: true
    post:
      summary: Create Retest Scan
      operationId: post-v1-retest
      responses:
        '200':
          $ref: '#/components/responses/PostRetestTemplateResponse'
        '401':
          $ref: '#/components/responses/PostRetestTemplateResponse'
        '500':
          $ref: '#/components/responses/PostRetestTemplateResponse'
      x-stoplight:
        id: tfuguf2z6rwzj
      description: Trigger a retest scan
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/RetestTemplateRequest'
    parameters: []
  '/v1/scans/vuln/{vuln_id}':
    get:
      summary: Get Vulnerability by ID
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetScansVulnIdResponse'
        '401':
          $ref: '#/components/responses/GetScansVulnIdResponse'
        '500':
          $ref: '#/components/responses/GetScansVulnIdResponse'
      operationId: 'get-v1-scans-vuln-:vulnId'
      x-stoplight:
        id: v7cmvj8q1z97t
      description: ''
      security:
        - X-API-Key: []
      requestBody:
        content: {}
    parameters:
      - schema:
          type: string
        name: vuln_id
        in: path
        required: true
        description: vulnerability ID
    post:
      summary: Rescan vulnerability
      operationId: post-v1-scans-vuln-vuln_id
      responses:
        '200':
          $ref: '#/components/responses/GetScansVulnIdResponse'
        '400':
          $ref: '#/components/responses/GetScansVulnIdResponse'
        '401':
          $ref: '#/components/responses/GetScansVulnIdResponse'
        '500':
          $ref: '#/components/responses/GetScansVulnIdResponse'
      x-stoplight:
        id: nk8oh4lybd1pe
      security:
        - X-API-Key: []
  /v1/scans/import:
    post:
      summary: Import OSS Scan
      operationId: post-v1-scans-import
      responses:
        '200':
          $ref: '#/components/responses/ImportScanResponse'
        '400':
          $ref: '#/components/responses/ImportScanResponse'
        '401':
          $ref: '#/components/responses/ImportScanResponse'
        '500':
          $ref: '#/components/responses/ImportScanResponse'
      x-stoplight:
        id: oxhi6euj5osc3
      description: Import scan details
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
  /v1/assets:
    get:
      summary: Get Asset list
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetAssetsListResponse'
        '401':
          $ref: '#/components/responses/GetAssetsListResponse'
        '500':
          $ref: '#/components/responses/GetAssetsListResponse'
      operationId: get-v1-assets
      x-stoplight:
        id: q6iiyfdafgy6n
      description: ''
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of assets to skip
          required: true
        - schema:
            type: integer
          in: query
          name: limit
          description: number of assets to fetch
          required: true
        - schema:
            type: string
          in: query
          name: search
          description: search term for asset list
    post:
      summary: Upload Asset
      operationId: post-v1-assets
      responses:
        '200':
          $ref: '#/components/responses/UploadAssetResponse'
        '401':
          $ref: '#/components/responses/UploadAssetResponse'
        '500':
          $ref: '#/components/responses/UploadAssetResponse'
      x-stoplight:
        id: 6ji6tsdo6ibbv
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      parameters:
        - schema:
            type: string
          in: query
          name: name
          description: name of asset
      description: ''
  '/v1/assets/{asset_Id}':
    parameters:
      - schema:
          type: string
        name: asset_Id
        in: path
        required: true
    get:
      summary: Get Asset Info
      tags: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/GetUserAssetResponse'
        '500':
          $ref: '#/components/responses/GetUserAssetResponse'
      operationId: get-v1-assets-assetId
      x-stoplight:
        id: gvmq9f6hi20hs
      security:
        - X-API-Key: []
    delete:
      summary: Delete Asset
      operationId: delete-v1-assets-asset_Id
      responses:
        '200':
          $ref: '#/components/responses/DeleteAssetResponse'
        '401':
          $ref: '#/components/responses/DeleteAssetResponse'
        '500':
          $ref: '#/components/responses/DeleteAssetResponse'
      x-stoplight:
        id: knlbp1gd712th
      security:
        - X-API-Key: []
    patch:
      summary: Update Asset Metadata
      operationId: patch-v1-assets-asset_Id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    x-stoplight:
                      id: g73phw8tdrhjs
                required:
                  - message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    x-stoplight:
                      id: 0ghch3oyn6tdd
                required:
                  - message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    x-stoplight:
                      id: pto53spg5865r
                required:
                  - message
      x-stoplight:
        id: 26nx6sw6bbfn4
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateAssetRequest'
  '/v1/assets/{asset_id}/contents':
    get:
      summary: Get Asset Content
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    x-stoplight:
                      id: gwvh3oypdm2jk
                required:
                  - message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    message: |
                      {"message":"could not get asset metadata: could not get asset: no rows in result set","status":500}
                properties:
                  message:
                    type: string
                required:
                  - message
      operationId: get-v1-assets-id-contents
      x-stoplight:
        id: ywvrb5y50ichc
      security:
        - X-API-Key: []
    parameters:
      - schema:
          type: string
        name: asset_id
        in: path
        required: true
    patch:
      summary: Update Asset Content
      operationId: patch-v1-assets-asset_id-contents
      responses:
        '200':
          $ref: '#/components/responses/PatchAssetContentResponse'
        '400':
          $ref: '#/components/responses/PatchAssetContentResponse'
        '500':
          $ref: '#/components/responses/PatchAssetContentResponse'
      x-stoplight:
        id: mpo0p27h90r4t
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: query
          name: update_type
          description: 'use options like: type, replace '
  /v1/user/settings/apikey:
    get:
      summary: Get API Key
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '400':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '401':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
      operationId: get-v1-user-settings-apikey
      x-stoplight:
        id: f4nellkco5dzs
      description: Get the API Key for the user
      parameters: []
      security:
        - X-API-Key: []
    post:
      summary: Create API Key
      operationId: post-v1-user-settings-apikey
      responses:
        '201':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '400':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '401':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
      x-stoplight:
        id: 9zzaq90196xyp
      description: Create an API Key for the user
      security:
        - X-API-Key: []
    delete:
      summary: Delete API Key
      operationId: delete-v1-user-settings-apikey
      responses:
        '200':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
        '400':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
        '401':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
      x-stoplight:
        id: 2qiec1of76596
      description: Delete the API Key for the user
      security:
        - X-API-Key: []
  /v1/user/settings/apikey/rotate:
    post:
      summary: Rotate API Key
      operationId: post-v1-user-settings-apikey-rotate
      responses:
        '200':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '400':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '401':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
      x-stoplight:
        id: y0kxgmtcbookz
      description: Rotate the API Key for the user
      security:
        - X-API-Key: []
  /v1/scans/results/filters:
    get:
      summary: Results Filters
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultsFiltersResponse'
        '401':
          $ref: '#/components/responses/GetScanResultsFiltersResponse'
        '500':
          $ref: '#/components/responses/GetScanResultsFiltersResponse'
      operationId: get-v1-scans-results-filters
      x-stoplight:
        id: ezch2k0alfizf
      description: Get users scan-result filters
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: (Required) The number of items to skip before starting to collect the result set
          required: true
        - schema:
            type: integer
          in: query
          name: limit
          description: (Required) The numbers of items to return
          required: true
        - schema:
            type: string
          in: query
          name: scan_id
          description: specific scan_id results filters
        - schema:
            type: string
          in: query
          name: severity
          description: 'comma separated severity e.g. severities=info,high'
        - schema:
            type: string
          in: query
          name: templates
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
        - schema:
            type: string
          in: query
          name: hosts
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
        - schema:
            type: string
          in: query
          name: search
          description: search term
        - schema:
            type: string
          in: query
          name: type
          required: true
          description: type of filter
        - schema:
            type: string
          in: query
          name: time
          description: 'filter by time ( last_day, last_week, last_month )'
  /v1/scans/results/stats:
    get:
      summary: Results Stats
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultStatsResponse'
        '401':
          $ref: '#/components/responses/GetScanResultStatsResponse'
        '500':
          $ref: '#/components/responses/GetScanResultStatsResponse'
      operationId: get-v1-scans-results-stats
      x-stoplight:
        id: 51o49eylpc9pn
      description: Get user scan results stats
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          required: true
          description: (Required) The number of items to skip before starting to collect the result set
        - schema:
            type: string
          in: query
          name: limit
          required: true
          description: (Required) The numbers of items to return
        - schema:
            type: string
          in: query
          name: hosts
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
        - schema:
            type: string
          in: query
          name: templates
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
        - schema:
            type: string
          in: query
          name: severity
          description: 'comma separated severity e.g. severities=info,high'
        - schema:
            type: string
          in: query
          name: search
          description: search term
        - schema:
            type: string
          in: query
          name: scan_id
          description: specific scan_id results filters
        - schema:
            type: string
          in: query
          description: 'filter by time ( last_day, last_week, last_month )'
          name: time
  /v1/scans/schedule:
    get:
      summary: Get Scan Schedules
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetScanScheduleResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    x-stoplight:
                      id: 0x6oy4h2w7m9y
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    x-stoplight:
                      id: hd9jqprs7k8sa
      operationId: get-v1-scans-schedule
      x-stoplight:
        id: p6ycpbx77svq2
      description: Get scan schedules for a user
      security:
        - X-API-Key: []
    post:
      summary: Set Scan Schedule
      operationId: post-v1-scans-schedule
      responses:
        '200':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '401':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '500':
          $ref: '#/components/responses/SetScanScheduleResponse'
      x-stoplight:
        id: gajt6zz08yb0b
      description: 'set a scan schedule for a user '
      requestBody:
        $ref: '#/components/requestBodies/SetScanScheduleRequest'
      security:
        - X-API-Key: []
    delete:
      summary: Delete Scan Schedule
      operationId: delete-v1-scans-schedule
      responses:
        '200':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '401':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '500':
          $ref: '#/components/responses/SetScanScheduleResponse'
      x-stoplight:
        id: 0mm7y8oxp7wjn
      parameters:
        - schema:
            type: string
          in: query
          name: scan_id
          required: true
          description: scan_id of schedule to be deleted
      security:
        - X-API-Key: []
      description: Delete scan schedule for a user
  /v1/user/feedback:
    post:
      summary: Add feedback
      operationId: post-v1-user-feedback
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    x-stoplight:
                      id: ogj7830408lnx
                required:
                  - message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    x-stoplight:
                      id: x8ubv8pol5zyk
                required:
                  - message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    x-stoplight:
                      id: s61l8723ijg3m
                required:
                  - message
      x-stoplight:
        id: zfvdmt7zw0duc
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/PostFeedbackRequest'
  /v1/user:
    get:
      summary: Get User Profile
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetUserProfileResponse'
        '401':
          $ref: '#/components/responses/GetUserProfileResponse'
        '500':
          $ref: '#/components/responses/GetUserProfileResponse'
      operationId: get-v1-user
      x-stoplight:
        id: e93c4l140w431
      security:
        - X-API-Key: []
  /v1/user/apikey:
    get:
      summary: Get API Key
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '401':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
      operationId: get-v1-user-apikey
      x-stoplight:
        id: geyjt5r7zelu5
      security:
        - X-API-Key: []
    post:
      summary: Create API Key
      operationId: post-v1-user-apikey
      responses:
        '200':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '400':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
      x-stoplight:
        id: bxeqp4r22um8f
      security:
        - X-API-Key: []
    delete:
      summary: Delete API Key
      operationId: delete-v1-user-apikey
      responses:
        '200':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
        '401':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
      x-stoplight:
        id: lfa11kyabpskb
      security:
        - X-API-Key: []
  /v1/user/apikey/rotate:
    post:
      summary: Rotate API Key
      operationId: post-v1-user-apikey-rotate
      responses:
        '200':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '401':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
      x-stoplight:
        id: kc45bdrroy9ts
      security:
        - X-API-Key: []
  /v1/template/public:
    get:
      summary: Get Public Template List
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetPublicTemplateList'
        '201':
          $ref: '#/components/responses/GetPublicTemplateList'
        '500':
          $ref: '#/components/responses/GetPublicTemplateList'
      operationId: get-v1-template-public
      x-stoplight:
        id: skfrbwq9j625s
      description: ''
  /v1/template/public/*:
    get:
      summary: Get Public Template Data
      tags: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            text/plain:
              schema:
                type: string
      operationId: get-v1-template-public-path
      x-stoplight:
        id: v7sbhqsheucvq
      requestBody:
        content: {}
  /v1/template:
    get:
      summary: Get Template List
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetUserTemplateListResponse'
        '401':
          $ref: '#/components/responses/GetUserTemplateListResponse'
        '500':
          $ref: '#/components/responses/GetUserTemplateListResponse'
      operationId: get-v1-templates
      x-stoplight:
        id: uybe3chhnocb2
      security:
        - X-API-Key: []
    parameters: []
    post:
      summary: Create Template
      operationId: post-v1-template
      responses:
        '200':
          $ref: '#/components/responses/CreateTemplateResponse'
        '401':
          $ref: '#/components/responses/CreateTemplateResponse'
        '500':
          $ref: '#/components/responses/CreateTemplateResponse'
      x-stoplight:
        id: dgp65695lwhc8
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                template:
                  type: string
                  x-stoplight:
                    id: 4oxartpvmaku2
              required:
                - template
    patch:
      summary: Update Template
      operationId: patch-v1-template
      responses:
        '200':
          $ref: '#/components/responses/UpdateTemplateResponse'
        '401':
          $ref: '#/components/responses/UpdateTemplateResponse'
        '500':
          $ref: '#/components/responses/UpdateTemplateResponse'
      x-stoplight:
        id: 5pwyfw7ihqf88
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateTemplateRequest'
  '/v1/template/{template_id}':
    parameters:
      - schema:
          type: string
        name: template_id
        in: path
        required: true
        description: 'unique Id of template '
    get:
      summary: Get Template Data
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetTemplateResponse'
        '401':
          $ref: '#/components/responses/GetTemplateResponse'
        '500':
          $ref: '#/components/responses/GetTemplateResponse'
      operationId: get-v1-template-t_id
      x-stoplight:
        id: 471yqpvk7c2r3
      security:
        - X-API-Key: []
    delete:
      summary: Delete Template
      operationId: delete-v1-template-template_id
      responses:
        '200':
          $ref: '#/components/responses/DeleteTemplateResponse'
        '401':
          $ref: '#/components/responses/DeleteTemplateResponse'
        '500':
          $ref: '#/components/responses/DeleteTemplateResponse'
      x-stoplight:
        id: dtsuuzelwaqyt
      security:
        - X-API-Key: []
  /v1/template/ai:
    post:
      summary: Generate AI Template
      operationId: post-v1-template-ai
      responses:
        '200':
          $ref: '#/components/responses/GenerateTemplateResponse'
        '401':
          $ref: '#/components/responses/GenerateTemplateResponse'
        '500':
          $ref: '#/components/responses/GenerateTemplateResponse'
      x-stoplight:
        id: skoihytkkf9oc
      requestBody:
        $ref: '#/components/requestBodies/GenerateTemplateRequest'
      security:
        - X-API-Key: []
  /v1/template/share:
    get:
      summary: Get Share Status
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetShareStatusResponse'
        '401':
          $ref: '#/components/responses/GetShareStatusResponse'
        '500':
          $ref: '#/components/responses/GetShareStatusResponse'
      operationId: get-v1-template-share
      x-stoplight:
        id: 8ixdymdo569t2
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: query
          name: template_id
          description: short uuid of requested template
          required: true
        - schema:
            type: string
          in: query
          name: user_name
          description: user name of logged in user
          required: true
    post:
      summary: Share Template
      operationId: post-v1-template-share
      responses:
        '200':
          $ref: '#/components/responses/ShareTemplateResponse'
        '201':
          description: Created
        '401':
          $ref: '#/components/responses/ShareTemplateResponse'
        '500':
          description: Internal Server Error
      x-stoplight:
        id: 0ntcxtrcj3ycz
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/ShareTemplateRequest'
  '/v1/template/share/{template_id}':
    parameters:
      - schema:
          type: string
        name: template_id
        in: path
        required: true
        description: unique template ID
    get:
      summary: Get Shared Template
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetSharedTemplateResponse'
        '401':
          $ref: '#/components/responses/GetSharedTemplateResponse'
        '500':
          $ref: '#/components/responses/GetSharedTemplateResponse'
      operationId: get-v1-template-share-template_id
      x-stoplight:
        id: 97alyqq8hpi3s
      parameters:
        - schema:
            type: string
          in: query
          name: user_name
          description: user name of template owner
          required: true
  '/v1/retest/{vuln_id}':
    parameters:
      - schema:
          type: string
        name: vuln_id
        in: path
        required: true
    get:
      summary: Get Retest Vulnerability
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/GetSingleRetestResultResponse'
        '401':
          $ref: '#/components/responses/GetSingleRetestResultResponse'
        '500':
          $ref: '#/components/responses/GetSingleRetestResultResponse'
      operationId: get-v1-retest-vuln_id
      x-stoplight:
        id: 0wx213razabwc
      security:
        - X-API-Key: []
components:
  schemas: {}
  securitySchemes:
    X-API-Key:
      name: X-API-Key
      type: apiKey
      in: header
  responses:
    GetTemplateResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              prompt:
                type:
                  - string
                  - 'null'
              message:
                type: string
              template:
                type:
                  - string
                  - 'null'
            required:
              - message
        application/xml:
          schema:
            type: object
            properties: {}
          examples: {}
    CreateTemplateResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              status:
                type: boolean
              template_id:
                type:
                  - string
                  - 'null'
            required:
              - message
    UpdateTemplateResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              status:
                type: boolean
              template_id:
                type:
                  - string
                  - 'null'
            required:
              - message
    GenerateTemplateResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              template_id:
                type:
                  - string
                  - 'null'
              message:
                type: string
              completion:
                type:
                  - string
                  - 'null'
              name:
                type:
                  - string
                  - 'null'
            required:
              - message
    ShareTemplateResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
    GetSharedTemplateResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              template:
                type:
                  - string
                  - 'null'
              template_name:
                type:
                  - string
                  - 'null'
              message:
                type: string
            required:
              - message
    GetUserProfileResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              ai_status:
                type:
                  - boolean
                  - 'null'
              email:
                type:
                  - string
                  - 'null'
              name:
                type:
                  - string
                  - 'null'
              message:
                type: string
              cloud_scans:
                type: boolean
                x-stoplight:
                  id: ewmbjdfcm73zv
            required:
              - message
    DeleteTemplateResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              status:
                type:
                  - boolean
                  - 'null'
            required:
              - message
    GetPublicTemplateList:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              version:
                type: string
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    templateURL:
                      type: string
                    name:
                      type: string
            required:
              - version
              - data
    GetRetestResultsResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              results:
                type: array
                items:
                  type: object
                  properties:
                    matcher_status:
                      type: boolean
                      x-stoplight:
                        id: 6dynccsmtr1t9
                    vuln_id:
                      type: string
                    target:
                      type: string
                    template_url:
                      type: string
                    created_at:
                      type: string
                      x-stoplight:
                        id: kdwc576h1xje9
                    updated_at:
                      type: string
                      x-stoplight:
                        id: q0gmiehqksc1k
                    scan_id:
                      type: string
                      x-stoplight:
                        id: 443cdp2gosxu0
                    event:
                      type: array
                      items:
                        type: object
                        x-stoplight:
                          id: oxedt2wc26tqo
                        properties:
                          template-id:
                            type: string
                          Info:
                            type: object
                            properties:
                              name:
                                type: string
                              author:
                                type: array
                                items:
                                  type: string
                              tags:
                                type: array
                                items:
                                  type: string
                              severity:
                                type: string
                              description:
                                type: string
                                x-stoplight:
                                  id: 3zpzd3xpkofq5
                              impact:
                                type: string
                                x-stoplight:
                                  id: iir9go0h2rce1
                              remediation:
                                type: string
                                x-stoplight:
                                  id: tdvodtfquphbj
                              reference:
                                type: array
                                x-stoplight:
                                  id: gl6poeh55cn8x
                                items:
                                  x-stoplight:
                                    id: 7dfqa0bh1dq6e
                                  type: string
                              metadata:
                                type: object
                                x-stoplight:
                                  id: fqr58ksm564b8
                                properties:
                                  verified:
                                    type: boolean
                                    x-stoplight:
                                      id: osbjc77p73zfz
                                  max-request:
                                    type: integer
                                    x-stoplight:
                                      id: kudh46ygdhr0s
                                  total-request:
                                    type: integer
                                    x-stoplight:
                                      id: zwxky7nibwl3z
                                  vendor:
                                    type: string
                                    x-stoplight:
                                      id: n6h308w0vvv37
                                  product:
                                    type: string
                                    x-stoplight:
                                      id: ltvxuv1b3y5qb
                                  framework:
                                    type: string
                                    x-stoplight:
                                      id: y3xmmuowwaa5i
                                  shodan-query:
                                    type: string
                                    x-stoplight:
                                      id: n8jxw0qxod745
                                  fofa-query:
                                    type: string
                                    x-stoplight:
                                      id: e3wil27ft77lm
                                  censys-query:
                                    type: string
                                    x-stoplight:
                                      id: 7nn61mznhf3fe
                                  publicwww-query:
                                    type: string
                                    x-stoplight:
                                      id: 6z6v45tucu537
                                  google-query:
                                    type: string
                                    x-stoplight:
                                      id: slu7e1fm3f8ur
                              classification:
                                type: object
                                x-stoplight:
                                  id: 053afailggucv
                                properties:
                                  cvss-metrics:
                                    type: string
                                    x-stoplight:
                                      id: lhh0v9sxuk1w8
                                  cvss-score:
                                    type: number
                                    x-stoplight:
                                      id: 7nqtfz17dj56r
                                  cve-id:
                                    type: array
                                    x-stoplight:
                                      id: vtwev4m2z2gf0
                                    items:
                                      x-stoplight:
                                        id: mweyydyctpius
                                      type: string
                                  cwe-id:
                                    type: array
                                    x-stoplight:
                                      id: fse69oh01pxze
                                    items:
                                      x-stoplight:
                                        id: lzdkwcqmm3wwm
                                      type: string
                                  epss-score:
                                    type: number
                                    x-stoplight:
                                      id: d6xjynmjxrsx1
                                  epss-percentile:
                                    type: number
                                    x-stoplight:
                                      id: g2shbh6wphkqi
                                  cpe:
                                    type: string
                                    x-stoplight:
                                      id: wg4qxv96xo339
                          type:
                            type: string
                          host:
                            type: string
                          request:
                            type: string
                          response:
                            type: string
                          timestamp:
                            type: string
                          matcher-status:
                            type: boolean
                          matched-line:
                            type: array
                            x-stoplight:
                              id: 5llodi4toyhsb
                            items:
                              x-stoplight:
                                id: 1kwxuf2cfghfa
                              type: integer
                          ip:
                            type: string
                            x-stoplight:
                              id: xd18edjzfxf62
                          matched-at:
                            type: string
                            x-stoplight:
                              id: rsqwdmfcf1ogk
                          curl-command:
                            type: string
                            x-stoplight:
                              id: 9x521yhcf7vl5
                          matcher-name:
                            type: string
                            x-stoplight:
                              id: vyctmaf6wxf1d
                          extracted-results:
                            type: string
                            x-stoplight:
                              id: ms6yslne90pf5
                          template-url:
                            type: string
                            x-stoplight:
                              id: q36sdvlu7i9dz
                          template-path:
                            type: string
                            x-stoplight:
                              id: 4c6pmit7vbpv2
                          extractor-name:
                            type: string
                            x-stoplight:
                              id: vdo102qh5ennk
                          path:
                            type: string
                            x-stoplight:
                              id: imsxujfjhulrg
                    template_id:
                      type: string
                      x-stoplight:
                        id: k6ms0mhwaj8ue
                    template_path:
                      type: string
                      x-stoplight:
                        id: mv00x1nfezgo1
                    template_encoded:
                      type: string
                      x-stoplight:
                        id: chmtk9v0kvr4c
                    result_type:
                      type: string
                      x-stoplight:
                        id: w5lmo01509cb2
                  required:
                    - matcher_status
                    - vuln_id
                    - target
                    - created_at
                    - scan_id
                    - event
                    - result_type
            required:
              - message
              - results
        application/xml:
          schema:
            type: object
            properties: {}
    GetSingleRetestResultResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              results:
                type: object
                required:
                  - matcher_status
                  - target
                  - event
                properties:
                  matcher_status:
                    type: boolean
                    x-stoplight:
                      id: s206vmzgoypf8
                  vuln_id:
                    type: string
                  target:
                    type: string
                  template_url:
                    type: string
                  created_at:
                    type: string
                    x-stoplight:
                      id: wv9qfgicxdeky
                  updated_at:
                    type: string
                    x-stoplight:
                      id: 0hzd233luzbrv
                  event:
                    type: array
                    items:
                      type: object
                      x-stoplight:
                        id: 6aaxmtzzirz19
                      properties:
                        template-id:
                          type: string
                        Info:
                          type: object
                          properties:
                            name:
                              type: string
                            author:
                              type: array
                              items:
                                type: string
                            tags:
                              type: array
                              items:
                                type: string
                            severity:
                              type: string
                            description:
                              type: string
                              x-stoplight:
                                id: qm02bp7d7z17a
                            impact:
                              type: string
                              x-stoplight:
                                id: oing5w2838os2
                            remediation:
                              type: string
                              x-stoplight:
                                id: y15htd9hfes5i
                            reference:
                              type: array
                              x-stoplight:
                                id: cyrtou1gkqdai
                              items:
                                x-stoplight:
                                  id: trh85nwzhim81
                                type: string
                            classification:
                              type: object
                              x-stoplight:
                                id: 9fkogiq4g8czb
                              properties:
                                cvss-metrics:
                                  type: string
                                  x-stoplight:
                                    id: j75dqib98ps4e
                                cvss-score:
                                  type: number
                                  x-stoplight:
                                    id: aj6gdc76lez6d
                                cve-id:
                                  type: array
                                  x-stoplight:
                                    id: ipidqw2kruu88
                                  items:
                                    x-stoplight:
                                      id: di3dx8vwxmiwr
                                    type: string
                                cwe-id:
                                  type: array
                                  x-stoplight:
                                    id: labu7eq1wbjt2
                                  items:
                                    x-stoplight:
                                      id: hf4pa1e1zr7bv
                                    type: string
                                epss-score:
                                  type: number
                                  x-stoplight:
                                    id: 8hfem77534xfh
                                epss-percentile:
                                  type: number
                                  x-stoplight:
                                    id: ba8he9liclm2s
                                cpe:
                                  type: string
                                  x-stoplight:
                                    id: 8c1na2equjrpu
                            metadata:
                              type: object
                              x-stoplight:
                                id: kt9fetl9909ji
                              properties:
                                verified:
                                  type: boolean
                                  x-stoplight:
                                    id: nvnd52u5sdgvc
                                max-request:
                                  type: integer
                                  x-stoplight:
                                    id: 9yfsfw7kohbhi
                                total-request:
                                  type: integer
                                  x-stoplight:
                                    id: ffyzrbpqh9pji
                                vendor:
                                  type: string
                                  x-stoplight:
                                    id: zm6hwfsm3003i
                                product:
                                  type: string
                                  x-stoplight:
                                    id: 4npru8cuf8jt2
                                framework:
                                  type: string
                                  x-stoplight:
                                    id: w0u5v1ukp93j9
                                shodan-query:
                                  type: string
                                  x-stoplight:
                                    id: xzllqrskusrcf
                                fofa-query:
                                  type: string
                                  x-stoplight:
                                    id: u3mjju9gthrxp
                                censys-query:
                                  type: string
                                  x-stoplight:
                                    id: 3rhgkjo6nmacu
                                publicwww-query:
                                  type: string
                                  x-stoplight:
                                    id: 6vz5a0irudodt
                                google-query:
                                  type: string
                                  x-stoplight:
                                    id: qvlgex7qp4taa
                        type:
                          type: string
                        host:
                          type: string
                        request:
                          type: string
                        response:
                          type: string
                        timestamp:
                          type: string
                        matcher-status:
                          type: boolean
                        matched-line:
                          type: array
                          x-stoplight:
                            id: 13qupzp7ob9b8
                          items:
                            x-stoplight:
                              id: xgry5uvaeo411
                            type: integer
                        ip:
                          type: string
                          x-stoplight:
                            id: rvo97enfg1kqm
                        matched-at:
                          type: string
                          x-stoplight:
                            id: s2vn5x29c4mza
                        curl-command:
                          type: string
                          x-stoplight:
                            id: zomtz0n8yc164
                        matcher-name:
                          type: string
                          x-stoplight:
                            id: guw88t001mqxr
                        extracted-results:
                          type: string
                          x-stoplight:
                            id: tmgzh3mv74887
                        template-url:
                          type: string
                          x-stoplight:
                            id: qvcd09gc1gytd
                        template-path:
                          type: string
                          x-stoplight:
                            id: 4bqc9kiz3wyrt
                        extractor-name:
                          type: string
                          x-stoplight:
                            id: u1oogwlfqevhj
                        path:
                          type: string
                          x-stoplight:
                            id: z18zn76quhv4r
            required:
              - message
              - results
    GetScansStatusResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              data:
                type: array
                items:
                  type: object
                  properties:
                    scan_id:
                      type: string
                      x-stoplight:
                        id: ydxowwr7go0yg
                    status:
                      type: string
                      x-stoplight:
                        id: s2e9hq3zo68d7
                    scan_time_elapsed:
                      type: string
                      x-stoplight:
                        id: vnhu1rcqbcy7e
                    progress:
                      type: integer
                      x-stoplight:
                        id: stat8c637b0wn
                    failure_reason:
                      type: string
                      x-stoplight:
                        id: i2s9eisrfa9el
                    created_at:
                      type: string
                      x-stoplight:
                        id: x7qy4nltu6l2i
                    total_target:
                      type: integer
                      x-stoplight:
                        id: dhv4smsgfmfcb
                    total_scan:
                      type: integer
                      x-stoplight:
                        id: 0qzmxu11g06td
                    severity:
                      type: object
                      x-stoplight:
                        id: 0tw3bshcrqgx6
                      properties:
                        info:
                          type:
                            - string
                            - integer
                          x-stoplight:
                            id: kxoqbt794a2g3
                        critical:
                          type:
                            - integer
                            - string
                          x-stoplight:
                            id: gxg9lglwumume
                        medium:
                          type:
                            - string
                            - integer
                          x-stoplight:
                            id: 7g2lp3m9g8gac
                        low:
                          type:
                            - string
                            - integer
                          x-stoplight:
                            id: mouclcf9tgflq
                        high:
                          type:
                            - string
                            - integer
                          x-stoplight:
                            id: ja7mcor9fe3by
                        unknown:
                          type:
                            - string
                            - integer
                          x-stoplight:
                            id: sox80c9pn3271
                    total_template:
                      type: integer
                      x-stoplight:
                        id: o8kkdwkavaj8p
                    updated_at:
                      type: string
                      x-stoplight:
                        id: a1mpvt3t9okmg
                    name:
                      type: string
                      x-stoplight:
                        id: hcc3baidbgam0
                    completed_at:
                      type: string
                      x-stoplight:
                        id: 381o4700w3czq
                    is_oss:
                      type: string
                      x-stoplight:
                        id: sa6lybqdm4ehl
                    is_cloud:
                      type: string
                      x-stoplight:
                        id: vbjek5676kly6
                    scan_frequency:
                      x-stoplight:
                        id: ngn9388l2g226
                      enum:
                        - daily
                        - weekly
                        - monthly
                    schedule_last_run:
                      type: string
                      x-stoplight:
                        id: 9b9trg9665nek
                  required:
                    - scan_id
                    - status
                    - progress
                    - created_at
                    - total_target
                    - total_scan
                    - total_template
                    - name
            required:
              - data
        application/xml:
          schema:
            type: object
            properties:
              message:
                type: string
                x-stoplight:
                  id: it2kbietsmlyg
              data:
                type: array
                x-stoplight:
                  id: dcgrxon0mqfva
                items:
                  x-stoplight:
                    id: ghvy3djmczm85
                  type: object
                  properties:
                    id:
                      type: string
                      x-stoplight:
                        id: ezm2t4m3hbtle
                    status:
                      type: string
                      x-stoplight:
                        id: 20n032eptll8u
            required:
              - message
    TriggerUserScanResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
              message:
                type: string
            required:
              - message
        application/xml:
          schema:
            type: object
            properties:
              message:
                type: string
                x-stoplight:
                  id: hy5lvhtmdlqim
              id:
                type: string
                x-stoplight:
                  id: 0f962j055qd6n
        multipart/form-data:
          schema:
            type: object
            properties:
              message:
                type: string
                x-stoplight:
                  id: dnn2usjgci1mr
              id:
                type: string
                x-stoplight:
                  id: 5pls5r1r9o0vy
            required:
              - message
        text/html:
          schema:
            type: object
            properties:
              message:
                type: string
                x-stoplight:
                  id: o5k79ejbyojtk
              id:
                type: string
                x-stoplight:
                  id: 61s8icrntth6t
            required:
              - message
    GetScanDetailsResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              completed_at:
                type: string
              created_at:
                type: string
              progress:
                type: integer
              scan_id:
                type: string
              scan_time_elapsed:
                type: string
              status:
                type: string
              total_scan:
                type: integer
              total_template:
                type: integer
              total_target:
                type: integer
              is_oss:
                type: string
                x-stoplight:
                  id: 1fc08c23cj6ot
              is_cloud:
                type: string
                x-stoplight:
                  id: t2k0i1siqa09g
              name:
                type: string
                x-stoplight:
                  id: 1hcvq934lnrsm
              severity:
                type: object
                x-stoplight:
                  id: 7tw3979ue7shu
              failure_reason:
                type: string
                x-stoplight:
                  id: pzvrsj2y129a9
            required:
              - created_at
              - progress
              - scan_id
              - status
              - total_scan
              - total_template
              - total_target
              - name
    DeleteScansResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              ok:
                type: boolean
            required:
              - message
    GetScanResultsResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              results:
                type: array
                x-stoplight:
                  id: 4jqscj2u5c6jk
                items:
                  x-stoplight:
                    id: cizxgswwl98g2
                  type: object
                  properties:
                    scan_id:
                      type: string
                      x-stoplight:
                        id: 88jv7gt3g8ym4
                    target:
                      type: string
                      x-stoplight:
                        id: 0r2zc88bxqxa6
                    template_encoded:
                      type: string
                      x-stoplight:
                        id: vxvnans2vbu2m
                    template_url:
                      type: string
                      x-stoplight:
                        id: yxy6g8b9p52r2
                    template_path:
                      type: string
                      x-stoplight:
                        id: uihencbfa2edf
                    template_id:
                      type: string
                      x-stoplight:
                        id: oxcp3owu7xjk4
                    vuln_id:
                      type: string
                      x-stoplight:
                        id: os2dp7ssvg83n
                    matcher_status:
                      type: boolean
                      x-stoplight:
                        id: ccldy50bmu5j3
                    created_at:
                      type: string
                      x-stoplight:
                        id: oxg8hb023alk0
                    updated_at:
                      type: string
                      x-stoplight:
                        id: jo56um3jz0aft
                    event:
                      type: array
                      x-stoplight:
                        id: 9noku80f6adpk
                      items:
                        x-stoplight:
                          id: tv010rsa19zd6
                        type: object
                        properties:
                          info:
                            type: object
                            x-stoplight:
                              id: 8vqjp3s0lmnq6
                            properties:
                              name:
                                type: string
                                x-stoplight:
                                  id: f6zrs1gr5j0bt
                              author:
                                type: array
                                x-stoplight:
                                  id: xexdzqzdz4mbo
                                items:
                                  x-stoplight:
                                    id: v6yguwtk2bnaq
                                  type: array
                                  items: {}
                              tags:
                                type: array
                                x-stoplight:
                                  id: 9q6y3r1c38mxj
                                items:
                                  x-stoplight:
                                    id: hv1u2zouoqhjq
                                  type: string
                              severity:
                                type: string
                                x-stoplight:
                                  id: 8ohkiaaq31ji6
                              reference:
                                type: array
                                x-stoplight:
                                  id: at6j7pekp9m1q
                                items:
                                  x-stoplight:
                                    id: 3iq3scdpn0lx2
                                  type: string
                              description:
                                type: string
                                x-stoplight:
                                  id: r57mzgkho825e
                              remediation:
                                type: string
                                x-stoplight:
                                  id: etnhf69mcmoni
                              metadata:
                                type: object
                                x-stoplight:
                                  id: j24ad7ykwlhqj
                                properties:
                                  vendor:
                                    type: string
                                    x-stoplight:
                                      id: 77jk95g3me9hz
                                  product:
                                    type: string
                                    x-stoplight:
                                      id: 1q1xke8liobki
                                  framework:
                                    type: string
                                    x-stoplight:
                                      id: cxbhw5l1qb99b
                                  shodan-query:
                                    type: string
                                    x-stoplight:
                                      id: xg3emulwhly4i
                                  censys-query:
                                    type: string
                                    x-stoplight:
                                      id: a8yi1txwjy82m
                                  publicwww-query:
                                    type: string
                                    x-stoplight:
                                      id: va4hycftz25d6
                                  google-query:
                                    type: string
                                    x-stoplight:
                                      id: 6hw2uu8ikcikt
                                  verified:
                                    type: boolean
                                    x-stoplight:
                                      id: dv6c4bi55b48o
                                  max-request:
                                    type: integer
                                    x-stoplight:
                                      id: kxxgicpetvdd8
                                  total-request:
                                    type: integer
                                    x-stoplight:
                                      id: addazla0w6dkc
                              classification:
                                type: object
                                x-stoplight:
                                  id: k4lpukkkzhtws
                                properties:
                                  cpe:
                                    type: string
                                    x-stoplight:
                                      id: abimra38sma9d
                                  cve-id:
                                    type: array
                                    x-stoplight:
                                      id: gmwkal6ss4nz2
                                    items:
                                      x-stoplight:
                                        id: vomi3j3tnhyrp
                                      type: string
                                  cwe-id:
                                    type: array
                                    x-stoplight:
                                      id: n4rvsgai5b89c
                                    items:
                                      x-stoplight:
                                        id: 3cr35ik2h200m
                                      type: string
                                  cvss-score:
                                    type: number
                                    x-stoplight:
                                      id: c878dix75wmed
                                  epss-score:
                                    type: number
                                    x-stoplight:
                                      id: q1znrp6y7e5dc
                                  cvss-metrics:
                                    type: string
                                    x-stoplight:
                                      id: xm6bywz0uv5nr
                                  epss-percentile:
                                    type: number
                                    x-stoplight:
                                      id: c34n6bfcm0ge8
                          ip:
                            type: string
                            x-stoplight:
                              id: 9e2qe95aq9l2q
                          host:
                            type: string
                            x-stoplight:
                              id: s9f5t7o8krgor
                          type:
                            type: string
                            x-stoplight:
                              id: 0e4yvicktzi2v
                          request:
                            type: string
                            x-stoplight:
                              id: zky92dih4fslr
                          response:
                            type: string
                            x-stoplight:
                              id: yfzpsddubpy6o
                          timestamp:
                            type: string
                            x-stoplight:
                              id: 9bx93vnm8rydf
                          matched-at:
                            type: string
                            x-stoplight:
                              id: yx1ye4hhdbbhp
                          template-id:
                            type: string
                            x-stoplight:
                              id: sf3oq0iaz2ctu
                          matcher-status:
                            type: boolean
                            x-stoplight:
                              id: 04a690xf683lw
                          curl-command:
                            type: string
                            x-stoplight:
                              id: qujh934cmtxr9
                          extracted-results:
                            type: string
                            x-stoplight:
                              id: hkw6cd4u8csxi
                          template-url:
                            type: string
                            x-stoplight:
                              id: 19btrjwdtljlg
                          template-path:
                            type: string
                            x-stoplight:
                              id: 2wrry2yghbh4t
                          matcher-name:
                            type: string
                            x-stoplight:
                              id: 0uq8ap5ir7nm2
                          extractor-name:
                            type: string
                            x-stoplight:
                              id: r6f2obufg50ee
                          path:
                            type: string
                            x-stoplight:
                              id: xqt3ov7a6nhyk
                          matched-line:
                            type: array
                            x-stoplight:
                              id: m48qgzyhr8k7p
                            items:
                              x-stoplight:
                                id: 0lgf6q09psugp
                              type: integer
                    result_type:
                      type: string
                      x-stoplight:
                        id: uni7fobxeq8d3
                  required:
                    - scan_id
                    - target
                    - vuln_id
                    - matcher_status
                    - created_at
                    - event
                    - result_type
              stats:
                type: object
                x-stoplight:
                  id: xpqvpzxf0iqbd
                properties:
                  total:
                    type: integer
                    x-stoplight:
                      id: vyhgjuxn72qt1
              filters:
                type: object
                x-stoplight:
                  id: 560c6x47f87v4
            required:
              - results
    PostRetestTemplateResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              results:
                type: object
                properties:
                  matcher_status:
                    type: boolean
                  retest_count:
                    type: integer
                  vuln_id:
                    type: string
                  target:
                    type: string
                  template_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  event:
                    type: array
                    items:
                      type: object
                      properties:
                        host:
                          type: string
                        Info:
                          type: object
                          properties:
                            name:
                              type: string
                            author:
                              type: array
                              items:
                                type: string
                            tags:
                              type: array
                              items:
                                type: string
                            severity:
                              type: string
                            reference:
                              type: array
                              items:
                                type: string
                            description:
                              type: string
                            remediation:
                              type: string
                            impact:
                              type: string
                              x-stoplight:
                                id: qblost4dz8tvh
                            metadata:
                              type: object
                              properties:
                                vendor:
                                  type: string
                                  x-stoplight:
                                    id: 96sbqh3dvy6o6
                                product:
                                  type: string
                                  x-stoplight:
                                    id: nqhuwp7oqcmqz
                                max-request:
                                  type: integer
                                total-request:
                                  type: integer
                                  x-stoplight:
                                    id: s9sub7zio0pdg
                                framework:
                                  type: string
                                  x-stoplight:
                                    id: qjp3s4sx43o3v
                                shodan-query:
                                  type: string
                                  x-stoplight:
                                    id: 6co6412y7esvg
                                fofa-query:
                                  type: string
                                  x-stoplight:
                                    id: 54q2jblnvvake
                                censys-query:
                                  type: string
                                  x-stoplight:
                                    id: q2dt5u0gmokyp
                                publicwww-query:
                                  type: string
                                  x-stoplight:
                                    id: ij46acurdeo7y
                                google-query:
                                  type: string
                                  x-stoplight:
                                    id: 6bquh3ssrq9wg
                                verified:
                                  type: boolean
                                  x-stoplight:
                                    id: 1z587ogs235ux
                            classification:
                              type: object
                              properties:
                                cpe:
                                  type: string
                                cve-id:
                                  type: array
                                  items:
                                    type: string
                                cwe-id:
                                  type: array
                                  items:
                                    type: string
                                cvss-score:
                                  type: number
                                epss-score:
                                  type: number
                                cvss-metrics:
                                  type: string
                                epss-percentile:
                                  type: number
                        type:
                          type: string
                        request:
                          type: string
                        response:
                          type: string
                        timestamp:
                          type: string
                        template-id:
                          type: string
                        matcher-status:
                          type: boolean
                        ip:
                          type: string
                          x-stoplight:
                            id: ilqg5s3jwaqpf
                        matched-line:
                          type: array
                          x-stoplight:
                            id: 43oqukt6tx3yf
                          items:
                            x-stoplight:
                              id: 5w1zemivxgjvh
                            type: integer
                        matched-at:
                          type: string
                          x-stoplight:
                            id: y33ctvw8fy6jo
                        curl-command:
                          type: string
                          x-stoplight:
                            id: ogpw8vyqd1fvk
                        matcher-name:
                          type: string
                          x-stoplight:
                            id: 0wff7qiafutgm
                        extracted-results:
                          type: string
                          x-stoplight:
                            id: exdb3l74tjvs0
                        template-url:
                          type: string
                          x-stoplight:
                            id: bdm8f7qe615e6
                        template-path:
                          type: string
                          x-stoplight:
                            id: xx36bva8h1upb
                        extractor-name:
                          type: string
                          x-stoplight:
                            id: kdwibpfgxh402
                        path:
                          type: string
                          x-stoplight:
                            id: 57cky33y175bx
    GetScansVulnIdResponse:
      description: '/scans/vuln/:vuln_id'
      content:
        application/json:
          schema:
            type: object
            properties:
              scan_id:
                type: string
              target:
                type: string
              template_url:
                type: string
              vuln_id:
                type: string
              matcher_status:
                type: boolean
              created_at:
                type: string
                x-stoplight:
                  id: fgggu42ejtl8h
              updated_at:
                type: string
                x-stoplight:
                  id: 1thshu6vj448t
              event:
                type: object
                properties:
                  ip:
                    type: string
                  host:
                    type: string
                  Info:
                    type: object
                    properties:
                      name:
                        type: string
                      author:
                        type: array
                        items:
                          type: string
                      tags:
                        type: array
                        items:
                          type: string
                      severity:
                        type: string
                      metadata:
                        type: object
                        properties:
                          max-request:
                            type: integer
                          vendor:
                            type: string
                            x-stoplight:
                              id: xvmhau6ofu98t
                          product:
                            type: string
                            x-stoplight:
                              id: vof30ae8xfb8h
                          framework:
                            type: string
                            x-stoplight:
                              id: 786c94zzvfjzg
                          shodan-query:
                            type: string
                            x-stoplight:
                              id: u25hznsf8vhsf
                          fofa-query:
                            type: string
                            x-stoplight:
                              id: w90jgmmlfmjh8
                          censys-query:
                            type: string
                            x-stoplight:
                              id: 6yykkf7ztx92r
                          publicwww-query:
                            type: string
                            x-stoplight:
                              id: ni6rrs26uaeuj
                          google-query:
                            type: string
                            x-stoplight:
                              id: l3frvpinuayly
                          verified:
                            type: string
                            x-stoplight:
                              id: ugc8wxmzfqram
                          total-request:
                            type: integer
                            x-stoplight:
                              id: tmp807hjr0x6a
                      classification:
                        type: object
                        properties:
                          cpe:
                            type: string
                            x-stoplight:
                              id: 8me3waxjb4t2m
                          cve-id:
                            type: array
                            x-stoplight:
                              id: 0o9nwamc0znii
                            items:
                              x-stoplight:
                                id: jkp52dpz0algt
                              type: string
                          cwe-id:
                            type: array
                            x-stoplight:
                              id: 0q2vurfnic5f9
                            items:
                              x-stoplight:
                                id: 2n1ypte3k4knd
                              type: string
                          cvss-score:
                            type: number
                            x-stoplight:
                              id: r6ifiszo4lcet
                          epss-score:
                            type: number
                            x-stoplight:
                              id: ptss5ah6yinwj
                          epss-percentile:
                            type: number
                            x-stoplight:
                              id: e9o7o0oas0ss6
                          cvss-metrics:
                            type: string
                            x-stoplight:
                              id: zyq92odzhot44
                      reference:
                        type: array
                        x-stoplight:
                          id: ewspi29dojtfd
                        items:
                          x-stoplight:
                            id: pdmhcbpinwamd
                          type: string
                      description:
                        type: string
                        x-stoplight:
                          id: ohb92skgelrdk
                      remediation:
                        type: string
                        x-stoplight:
                          id: i2q0mj2d8wkfh
                      impact:
                        type: string
                        x-stoplight:
                          id: mk87t33jwok8f
                    required:
                      - name
                  type:
                    type: string
                  request:
                    type: string
                  response:
                    type: string
                  timestamp:
                    type: string
                  matched-at:
                    type: string
                  template-id:
                    type: string
                  curl-command:
                    type: string
                  matcher-status:
                    type: boolean
                  matcher-name:
                    type: string
                    x-stoplight:
                      id: zx9nima1cjn0p
                  extracted-results:
                    type: array
                    x-stoplight:
                      id: lei5niri9f6ab
                    items:
                      x-stoplight:
                        id: p15eukooxc9cm
                      type: string
                  template-url:
                    type: string
                    x-stoplight:
                      id: y6250vqoy7wcp
                  template-path:
                    type: string
                    x-stoplight:
                      id: qxn0c0680rdy2
                  extractor-name:
                    type: string
                    x-stoplight:
                      id: 842cg7y8z0rky
                  path:
                    type: string
                    x-stoplight:
                      id: p0mfttc0gith9
                  matched-line:
                    type: array
                    x-stoplight:
                      id: 12677mk1a2mvd
                    items:
                      x-stoplight:
                        id: s33eq7aphbqv6
                      type: integer
                required:
                  - timestamp
                  - template-id
              template_encoded:
                type: string
                x-stoplight:
                  id: ug91q7f8vhkjg
              template_path:
                type: string
                x-stoplight:
                  id: u9n5qiued7zmk
            required:
              - scan_id
              - target
              - vuln_id
              - matcher_status
              - created_at
    ImportScanResponse:
      description: ''
      content:
        application/json:
          schema:
            type: object
            description: Scan is a single scan object
            properties:
              id:
                type: string
              message:
                type: string
                x-stoplight:
                  id: reumelzq2xo8z
            required:
              - id
              - message
    GetAssetsListResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              data:
                type: array
                items:
                  type: object
                  properties:
                    asset_count:
                      type: integer
                    asset_id:
                      type: string
                    uploaded_at:
                      type: string
                    name:
                      type: string
                      x-stoplight:
                        id: vb3783n9ia814
                  required:
                    - asset_count
                    - asset_id
                    - uploaded_at
            required:
              - message
              - data
    UploadAssetResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              upload_status:
                type: string
              asset_id:
                type: string
              uploaded_at:
                type: string
            required:
              - message
    GetUserAssetResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              asset_count:
                type: integer
              asset_id:
                type: string
              uploaded_at:
                type: string
            required:
[...]
