openapi: 3.1.0
info:
  title: PDCP API
  version: '1.0'
  summary: ProjectDiscovery Cloud Platform
  description: 'For more details, checkout https://docs.projectdiscovery.io/api-reference/editor/scan'
servers:
  - url: 'https://api.projectdiscovery.io'
    description: Production
  - url: 'https://api.dev.projectdiscovery.io'
    description: Development
  - url: 'http://localhost:8080'
    description: Localhost
paths:
  /v1/scans:
    get:
      summary: Get Scan List
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/GetScansStatusResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans
      description: Get user scans status
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of scan-status results to skip
        - schema:
            type: integer
          in: query
          name: limit
          description: number of scan-status results to fetch
        - schema:
            type: string
          in: query
          name: search
          description: search term for running scans
        - schema:
            type: string
          in: query
          name: status
          description: 'filter by status (failed, finished, queued, running, starting, uploaded, scheduled)'
        - schema:
            type: string
          in: query
          name: sort_asc
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
        - schema:
            type: string
          in: query
          name: sort_desc
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
      x-internal: false
    post:
      summary: Create Scan
      tags:
        - scans
      operationId: post-v1-scans
      responses:
        '200':
          $ref: '#/components/responses/TriggerUserScanResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      description: Trigger a scan
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/TriggerUserScanRequest'
      parameters: []
  '/v1/scans/{scan_id}':
    parameters:
      - schema:
          type: string
        name: scan_id
        in: path
        required: true
    get:
      summary: Get Scan
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/GetScanDetailsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-scan_id
      description: Get details of a scan by scan ID
      security:
        - X-API-Key: []
    delete:
      summary: Delete Scan
      tags:
        - scans
      operationId: delete-v1-scans-scan_id
      responses:
        '200':
          $ref: '#/components/responses/DeleteScansResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      description: Delete a scan using scanId
      security:
        - X-API-Key: []
    patch:
      summary: Update Scan
      tags:
        - scans
      operationId: patch-v1-scans-scan_id
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      description: Update scan metadata
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateScanRequest'
  /v1/scans/import:
    post:
      summary: Import OSS Scan
      tags:
        - scans
      operationId: post-v1-scans-import
      responses:
        '200':
          $ref: '#/components/responses/ImportScanResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      description: Import scan details
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
  /v1/admin/scan/token:
    post:
      tags:
        - internal
      summary: Set Scan token for user
      operationId: post-v1-admin-scan-token
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - base_token
                - extra_token
                - email
              properties:
                base_token:
                  type: number
                extra_token:
                  type: number
                email:
                  type: string
                  description: Comma separated emails
                validity_months:
                  type: integer
                  minimum: 1
                  maximum: 12
                  default: 12
      x-internal: true
    parameters: []
    get:
      summary: Get Token Usage (admin)
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/GetScansTokenResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: get-v1-admin-scan-token
      description: Get token usage for given user
      parameters:
        - schema:
            type: integer
          in: query
          name: user_id
          description: user id to get scan token usage for
          required: true
  '/v1/scans/{scan_id}/stop':
    parameters:
      - schema:
          type: string
        name: scan_id
        in: path
        required: true
    post:
      summary: Stop Scan
      tags:
        - scans
      operationId: post-v1-scans-scan_id-stop
      responses:
        '200':
          $ref: '#/components/responses/DeleteScansResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: 'Stop a running scan, not applied in any other state.'
  '/v1/scans/{scan_id}/rescan':
    parameters:
      - schema:
          type: string
        name: scan_id
        in: path
        required: true
    post:
      summary: Rescan scan
      tags:
        - scans
      operationId: post-v1-scans-scan_id-rescan
      responses:
        '200':
          $ref: '#/components/responses/TriggerUserScanResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Re-run a existing scan
  '/v1/scans/vuln/{vuln_id}':
    get:
      summary: Get Scan Vulnerability
      tags:
        - results
      responses:
        '200':
          $ref: '#/components/responses/GetScansVulnIdResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: 'get-v1-scans-vuln-:vulnId'
      description: 'Get scan result vulnerability by ID '
      security:
        - X-API-Key: []
    parameters:
      - schema:
          type: string
        name: vuln_id
        in: path
        required: true
        description: vulnerability ID
  '/v1/scans/result/{scanId}':
    get:
      summary: Get Scan Results
      tags:
        - results
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: 'get-v1-scans-result-:scanId'
      description: get results of specific scan by id
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: query
          name: severity
          description: 'comma separated severity e.g. severity=info,high'
        - schema:
            type: string
          in: query
          name: search
          description: search term
        - schema:
            type: integer
          in: query
          name: limit
          description: 'number of results '
        - schema:
            type: integer
          in: query
          name: offset
          description: number of results to skip
        - schema:
            type: string
          in: query
          name: templates
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
        - schema:
            type: string
          in: query
          name: hosts
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
        - schema:
            type: string
          in: query
          description: 'filter by time ( last_day, last_week, last_month )'
          name: time
        - schema:
            type: string
          in: query
          name: vuln_status
          description: 'comma separated vuln_status e.g vuln_status=open,fixed'
        - schema:
            type: string
          in: query
          name: sort_asc
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
        - schema:
            type: string
          in: query
          name: sort_desc
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
    parameters:
      - schema:
          type: string
        name: scanId
        in: path
        required: true
        description: scan specific results (by scanId)
  /v1/scans/results:
    get:
      summary: Get All Results
      tags:
        - results
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-results
      description: Get scans results of a user
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of results to skip
        - schema:
            type: integer
          in: query
          name: limit
          description: number of results to get
        - schema:
            type: string
          in: query
          name: severity
          description: 'string separated by comma e.g. info,high'
        - schema:
            type: string
          in: query
          name: search
          description: search term
        - schema:
            type: string
          in: query
          name: hosts
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
        - schema:
            type: string
          in: query
          name: templates
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
        - schema:
            type: string
          in: query
          name: time
          description: 'filter by time ( last_day, last_week, last_month )'
        - schema:
            type: string
          in: query
          name: vuln_status
          description: 'comma separated vuln_status e.g vuln_status=open,fixed'
        - schema:
            type: string
          in: query
          name: tags
          description: 'comma separated tags e.g tags=xss,cve'
        - schema:
            type: string
          in: query
          name: sort_asc
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
        - schema:
            type: string
          in: query
          name: sort_desc
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
        - in: query
          name: labels
          schema:
            type: string
          description: 'filter by comma separated labels e.g labels=p1,p2'
      security:
        - X-API-Key: []
    parameters: []
  /v1/scans/stats:
    get:
      summary: Get All Scan Stats
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/ScanStatsResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-stats
      parameters: []
      security:
        - X-API-Key: []
      description: Get all scans statistics for a user
  '/v1/scans/{vuln_id}/retest':
    parameters:
      - schema:
          type: string
        name: vuln_id
        in: path
        required: true
    post:
      summary: Retest vulnerability
      tags:
        - scans
      operationId: post-v1-scans-vuln_id-retest
      responses:
        '200':
          $ref: '#/components/responses/PostRescanVulnResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Retest a scan vulnerability
  /v1/scans/results/filters:
    get:
      summary: Get Scans Result Filters
      tags:
        - results
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultsFiltersResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-results-filters
      description: Get users scan-result filters
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: The number of items to skip before starting to collect the result set
        - schema:
            type: integer
          in: query
          name: limit
          description: The numbers of items to return
        - schema:
            type: string
          in: query
          name: scan_id
          description: specific scan_id results filters
        - schema:
            type: string
          in: query
          name: severity
          description: 'comma separated severity e.g. severities=info,high'
        - schema:
            type: string
          in: query
          name: templates
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
        - schema:
            type: string
          in: query
          name: hosts
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
        - schema:
            type: string
          in: query
          name: search
          description: search term
        - schema:
            type: string
          in: query
          name: type
          required: true
          description: type of filter
        - schema:
            type: string
          in: query
          name: time
          description: 'filter by time ( last_day, last_week, last_month )'
        - schema:
            type: string
          in: query
          name: vuln_status
          description: 'comma separated vuln_status e.g vuln_status=open,fixed'
        - schema:
            type: string
          in: query
          name: sort_asc
          description: 'comma separated ascending sorting e.g sort_asc=created_at,severity'
        - schema:
            type: string
          in: query
          name: sort_desc
          description: 'comma separated descending sorting e.g sort_desc=created_at,severity'
        - schema:
            type: string
          in: query
          name: tags
          description: 'comma separated tags e.g tags=xss,cve'
        - schema:
            type: string
          in: query
          name: not_hosts
          description: 'comma separated hosts that should not be returned e.g. not_hosts=https://example.com,https://x.com'
        - schema:
            type: string
          in: query
          name: not_severity
          description: 'comma separated severity that should not be returned e.g. not_severity=info,high'
        - schema:
            type: string
          in: query
          name: not_templates
          description: 'comma separated templates that should not be returned e.g. not_templates=tech-detect,azure-takeover'
        - in: query
          name: labels
          schema:
            type: string
          description: 'filter by comma separated labels e.g labels=p1,p2'
  /v1/scans/results/stats:
    get:
      summary: Get Results Stats
      tags:
        - results
      responses:
        '200':
          $ref: '#/components/responses/GetScanResultStatsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '499':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-results-stats
      description: Get user scan results stats
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: The number of items to skip before starting to collect the result set
        - schema:
            type: integer
          in: query
          name: limit
          description: The numbers of items to return
        - schema:
            type: string
          in: query
          name: hosts
          description: 'comma separated host e.g. hosts=https://example.com,https://x.com'
        - schema:
            type: string
          in: query
          name: templates
          description: 'comma separated templates e.g. templates=tech-detect,azure-takeover'
        - schema:
            type: string
          in: query
          name: severity
          description: 'comma separated severity e.g. severities=info,high'
        - schema:
            type: string
          in: query
          name: search
          description: search term
        - schema:
            type: string
          in: query
          name: scan_id
          description: specific scan_id results filters
        - schema:
            type: string
          in: query
          description: 'filter by time ( last_day, last_week, last_month )'
          name: time
        - schema:
            type: string
          in: query
          name: vuln_status
          description: 'comma separated vuln_status e.g vuln_status=open,fixed'
        - schema:
            type: string
          in: query
          name: tags
          description: 'comma separated tags e.g tags=xss,cve'
        - schema:
            type: string
          in: query
          name: not_hosts
          description: 'comma separated hosts that should not be returned e.g. not_hosts=https://example.com,https://x.com'
        - schema:
            type: string
          in: query
          name: not_severity
          description: 'comma separated severity that should not be returned e.g. not_severity=info,high'
        - schema:
            type: string
          in: query
          name: not_templates
          description: 'comma separated templates that should not be returned e.g. not_templates=tech-detect,azure-takeover'
        - in: query
          name: labels
          schema:
            type: string
          description: 'filter by comma separated labels e.g labels=p1,p2'
  /v1/scans/schedule:
    get:
      summary: Get Scan Schedules
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/GetScanScheduleResponse'
        '400':
          $ref: '#/components/responses/GetScanScheduleResponse'
        '401':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '500':
          $ref: '#/components/responses/SetScanScheduleResponse'
      operationId: get-v1-scans-schedule
      description: Get scan schedules for a user
      security:
        - X-API-Key: []
    post:
      summary: Set Scan Schedule
      tags:
        - scans
      operationId: post-v1-scans-schedule
      responses:
        '200':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '400':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '401':
          $ref: '#/components/responses/SetScanScheduleResponse'
        '500':
          $ref: '#/components/responses/SetScanScheduleResponse'
      description: 'set a scan schedule for a user '
      requestBody:
        $ref: '#/components/requestBodies/SetScanScheduleRequest'
      security:
        - X-API-Key: []
    delete:
      summary: Delete Scan Schedule
      tags:
        - scans
      operationId: delete-v1-scans-schedule
      responses:
        '200':
          $ref: '#/components/responses/DeleteScanScheduleResponse'
        '400':
          $ref: '#/components/responses/DeleteScanScheduleResponse'
        '401':
          $ref: '#/components/responses/DeleteScanScheduleResponse'
        '500':
          $ref: '#/components/responses/DeleteScanScheduleResponse'
      parameters:
        - schema:
            type: string
          in: query
          name: scan_id
          required: true
          description: scan_id of schedule to be deleted
      security:
        - X-API-Key: []
      description: Delete scan schedule for a user
  /v1/retest:
    get:
      summary: Get All Retest
      tags:
        - retests
      responses:
        '200':
          $ref: '#/components/responses/GetRetestResultsResponse'
        '401':
          $ref: '#/components/responses/GetRetestResultsResponse'
        '500':
          $ref: '#/components/responses/GetRetestResultsResponse'
      operationId: get-v1-retest
      description: Get user retest results
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of results to skip
          required: true
        - schema:
            type: integer
          in: query
          name: limit
          description: number of results
          required: true
    post:
      summary: Create Retest
      tags:
        - retests
      operationId: post-v1-retest
      responses:
        '200':
          $ref: '#/components/responses/PostRetestTemplateResponse'
        '400':
          $ref: '#/components/responses/PostRetestTemplateResponse'
        '401':
          $ref: '#/components/responses/PostRetestTemplateResponse'
        '500':
          $ref: '#/components/responses/PostRetestTemplateResponse'
      description: Trigger a retest scan
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/RetestTemplateRequest'
    parameters: []
  '/v1/retest/{vuln_id}':
    get:
      summary: Get Retest Vulnerability
      tags:
        - retests
      responses:
        '200':
          $ref: '#/components/responses/GetSingleRetestResultResponse'
        '400':
          $ref: '#/components/responses/GetSingleRetestResultResponse'
        '401':
          $ref: '#/components/responses/GetSingleRetestResultResponse'
        '500':
          $ref: '#/components/responses/GetSingleRetestResultResponse'
      operationId: get-v1-retest-vuln_id
      security:
        - X-API-Key: []
      description: Get retest vulnerability (retests from editor)
    parameters:
      - schema:
          type: string
        name: vuln_id
        in: path
        required: true
  /v1/assets:
    get:
      summary: Get Asset List
      tags:
        - assets
      responses:
        '200':
          $ref: '#/components/responses/GetAssetsListResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-assets
      description: Get user asset list
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of assets to skip
        - schema:
            type: integer
          in: query
          name: limit
          description: number of assets to fetch
        - schema:
            type: string
          in: query
          name: search
          description: search term for asset list
    post:
      summary: Upload Asset
      tags:
        - assets
      operationId: post-v1-assets
      responses:
        '200':
          $ref: '#/components/responses/UploadAssetResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      parameters:
        - schema:
            type: string
          in: query
          name: name
          description: name of asset
      description: Manually upload user assets (uploaded to manual enumeration)
  '/v1/assets/{asset_Id}':
    parameters:
      - schema:
          type: string
        name: asset_Id
        in: path
        required: true
    get:
      summary: Get Asset Metadata
      tags:
        - assets
      responses:
        '200':
          $ref: '#/components/responses/GetUserAssetResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-assets-assetId
      security:
        - X-API-Key: []
      description: Get asset metadata
    delete:
      summary: Delete Asset
      tags:
        - assets
      operationId: delete-v1-assets-asset_Id
      responses:
        '200':
          $ref: '#/components/responses/DeleteAssetResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Delete asset by ID
    patch:
      summary: Update Asset Metadata
      tags:
        - assets
      operationId: patch-v1-assets-asset_Id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateAssetRequest'
      description: Update asset metadata
  '/v1/assets/{asset_id}/contents':
    get:
      summary: Get Asset Content
      tags:
        - assets
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-assets-id-contents
      security:
        - X-API-Key: []
      description: Get user asset content
    parameters:
      - schema:
          type: string
        name: asset_id
        in: path
        required: true
    patch:
      summary: Update Asset Content
      tags:
        - assets
      operationId: patch-v1-assets-asset_id-contents
      responses:
        '200':
          $ref: '#/components/responses/PatchAssetContentResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: query
          name: update_type
          description: 'use options like: type, replace '
      description: Update existing asset content
  /v1/user/feedback:
    post:
      summary: Create Feedback
      tags:
        - users
      operationId: post-v1-user-feedback
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '401':
          description: Shared Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/PostFeedbackRequest'
      description: Add user feedback
  /v1/user/delete/code:
    parameters: []
    post:
      summary: Email user deletion verification code
      tags:
        - users
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: post-v1-user-delete-code
      security:
        - X-API-Key: []
      description: generate and email user deletion verification code
  /v1/user:
    get:
      summary: Get User Profile
      tags:
        - users
      responses:
        '200':
          $ref: '#/components/responses/GetUserProfileResponse'
        '401':
          $ref: '#/components/responses/GetUserProfileResponse'
        '500':
          $ref: '#/components/responses/GetUserProfileResponse'
      operationId: get-v1-user
      security:
        - X-API-Key: []
      description: Get user profile and permissions
    delete:
      summary: Delete user from system along with all data
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
              required:
                - code
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: delete-v1-user
      security:
        - X-API-Key: []
  /v1/user/apikey:
    get:
      summary: Get API Key
      tags:
        - users
      responses:
        '200':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '401':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '404':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
      operationId: get-v1-user-apikey
      security:
        - X-API-Key: []
      description: Get user api-key
    post:
      summary: Create API Key
      tags:
        - users
      operationId: post-v1-user-apikey
      responses:
        '200':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '400':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/GetUserAPIKeyResponse'
      security:
        - X-API-Key: []
      description: 'Create user api-key, this won''t create a new api-key if it already exists.'
    delete:
      summary: Delete API Key
      tags:
        - users
      operationId: delete-v1-user-apikey
      responses:
        '200':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
        '401':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
        '500':
          $ref: '#/components/responses/DeleteUserAPIKeyResponse'
      security:
        - X-API-Key: []
      description: Delete user api-key
  /v1/user/apikey/rotate:
    post:
      summary: Rotate API Key
      tags:
        - users
      operationId: post-v1-user-apikey-rotate
      responses:
        '200':
          $ref: '#/components/responses/PostApiKeyRotateResponse'
        '401':
          $ref: '#/components/responses/PostApiKeyRotateResponse'
        '500':
          $ref: '#/components/responses/PostApiKeyRotateResponse'
      security:
        - X-API-Key: []
      description: Rotate user api-key
  /v1/template/public:
    get:
      summary: Get Public Template List
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetPublicTemplateList'
        '201':
          $ref: '#/components/responses/GetPublicTemplateList'
        '500':
          $ref: '#/components/responses/GetPublicTemplateList'
      operationId: get-v1-template-public
      description: Get public-template list
  /v1/template/early:
    get:
      summary: Get Early Template List
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetEarlyTempateList'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: get-v1-early-templates
      description: Get pdcp early template lists
      security:
        - X-API-Key: []
    parameters: []
  '/v1/template/early/{id}':
    get:
      summary: Get Early Template
      tags:
        - templates
      responses:
        '200':
          description: Shared Response
          content:
            text/plain:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: get-v1-early-templates-id
      description: Get early template text
      security:
        - X-API-Key: []
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
  /v1/template/public/*:
    get:
      summary: Get Public Template
      tags:
        - templates
      responses:
        '200':
          description: OK
          headers: {}
          content:
            text/plain:
              schema:
                type: string
      operationId: get-v1-template-public-path
      description: Get public template text using path
  /v1/template:
    get:
      summary: Get Template List
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetUserTemplateListResponse'
        '401':
          $ref: '#/components/responses/GetUserTemplateListResponse'
        '500':
          $ref: '#/components/responses/GetUserTemplateListResponse'
      operationId: get-v1-templates
      security:
        - X-API-Key: []
      description: Get user private(my) templates
    parameters: []
    post:
      summary: Create Template
      tags:
        - templates
      operationId: post-v1-template
      responses:
        '200':
          $ref: '#/components/responses/CreateTemplateResponse'
        '400':
          $ref: '#/components/responses/CreateTemplateResponse'
        '401':
          $ref: '#/components/responses/CreateTemplateResponse'
        '500':
          $ref: '#/components/responses/CreateTemplateResponse'
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                template:
                  type: string
                prompt:
                  type: string
              required:
                - template
      description: Create a private template
    patch:
      summary: Update Template
      tags:
        - templates
      operationId: patch-v1-template
      responses:
        '200':
          $ref: '#/components/responses/UpdateTemplateResponse'
        '400':
          $ref: '#/components/responses/UpdateTemplateResponse'
        '401':
          $ref: '#/components/responses/UpdateTemplateResponse'
        '500':
          $ref: '#/components/responses/UpdateTemplateResponse'
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateTemplateRequest'
      description: 'Update existing private template '
  '/v1/template/{template_id}':
    parameters:
      - schema:
          type: string
        name: template_id
        in: path
        required: true
        description: 'unique Id of template '
    get:
      summary: Get Template
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetTemplateResponse'
        '400':
          $ref: '#/components/responses/GetTemplateResponse'
        '401':
          $ref: '#/components/responses/GetTemplateResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/GetTemplateResponse'
      operationId: get-v1-template-t_id
      security:
        - X-API-Key: []
      description: Get private template text using ID
    delete:
      summary: Delete Template
      tags:
        - templates
      operationId: delete-v1-template-template_id
      responses:
        '200':
          $ref: '#/components/responses/DeleteTemplateResponse'
        '400':
          $ref: '#/components/responses/DeleteTemplateResponse'
        '401':
          $ref: '#/components/responses/DeleteTemplateResponse'
        '500':
          $ref: '#/components/responses/DeleteTemplateResponse'
      security:
        - X-API-Key: []
      description: Delete private template using ID
  /v1/template/ai:
    post:
      summary: Generate AI Template
      tags:
        - templates
      operationId: post-v1-template-ai
      responses:
        '200':
          $ref: '#/components/responses/GenerateTemplateResponse'
        '400':
          $ref: '#/components/responses/GenerateTemplateResponse'
        '401':
          $ref: '#/components/responses/GenerateTemplateResponse'
        '403':
          $ref: '#/components/responses/GenerateTemplateResponse'
        '500':
          $ref: '#/components/responses/GenerateTemplateResponse'
      requestBody:
        $ref: '#/components/requestBodies/GenerateTemplateRequest'
      security:
        - X-API-Key: []
      description: Generate a private template with AI Engine
  /v1/template/share:
    get:
      summary: Get Share Status
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetShareStatusResponse'
        '400':
          $ref: '#/components/responses/GetShareStatusResponse'
        '401':
          $ref: '#/components/responses/GetShareStatusResponse'
        '404':
          $ref: '#/components/responses/GetShareStatusResponse'
        '500':
          $ref: '#/components/responses/GetShareStatusResponse'
      operationId: get-v1-template-share
      security:
        - X-API-Key: []
      parameters:
        - schema:
            type: string
          in: query
          name: template_id
          description: short uuid of requested template
          required: true
        - schema:
            type: string
          in: query
          name: user_name
          description: user name of logged in user
          required: true
      description: Get template sahred status (shared-with-link)
    post:
      summary: Share Template
      tags:
        - templates
      operationId: post-v1-template-share
      responses:
        '200':
          $ref: '#/components/responses/ShareTemplateResponse'
        '400':
          $ref: '#/components/responses/ShareTemplateResponse'
        '401':
          $ref: '#/components/responses/ShareTemplateResponse'
        '404':
          $ref: '#/components/responses/ShareTemplateResponse'
        '500':
          $ref: '#/components/responses/ShareTemplateResponse'
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/ShareTemplateRequest'
      description: Share a private template (shared-with-link)
  '/v1/template/share/{template_id}':
    parameters:
      - schema:
          type: string
        name: template_id
        in: path
        required: true
        description: unique template ID
    get:
      summary: Get Shared Template
      tags:
        - templates
      responses:
        '200':
          $ref: '#/components/responses/GetSharedTemplateResponse'
        '400':
          $ref: '#/components/responses/GetSharedTemplateResponse'
        '401':
          $ref: '#/components/responses/GetSharedTemplateResponse'
        '404':
          $ref: '#/components/responses/GetSharedTemplateResponse'
        '500':
          $ref: '#/components/responses/GetSharedTemplateResponse'
      operationId: get-v1-template-share-template_id
      parameters:
        - schema:
            type: string
          in: query
          name: user_name
          description: user name of template owner
          required: true
      description: Get a shared template text
  /v1/admin/user/profile:
    patch:
      summary: Patch User Profile
      operationId: patch-v1-admin-user-profile
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/PatchUserProfileResponse'
        '401':
          $ref: '#/components/responses/PatchUserProfileResponse'
        '500':
          $ref: '#/components/responses/PatchUserProfileResponse'
      requestBody:
        $ref: '#/components/requestBodies/PatchUserProfile'
      security:
        - X-API-Key: []
      description: (ADMIN) Patch a user profile
  /v1/admin/users:
    post:
      summary: Create New User
      operationId: post-v1-admin-users
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/PostCreateUserResponse'
        '400':
          $ref: '#/components/responses/PostCreateUserResponse'
        '401':
          $ref: '#/components/responses/PostCreateUserResponse'
        '500':
          $ref: '#/components/responses/PostCreateUserResponse'
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ai_status:
                  type: boolean
                scan_status:
                  type: boolean
                static_scan:
                  type: boolean
                early_template:
                  type: boolean
                email:
                  type: string
                invite_email:
                  type: boolean
              required:
                - email
      description: (ADMIN) Create a new user
  /v1/user/team:
    get:
      summary: Get Team
      operationId: get-v1-user-team
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/GetTeamResponse'
        '401':
          $ref: '#/components/responses/GetTeamResponse'
        '403':
          $ref: '#/components/responses/GetTeamResponse'
        '500':
          $ref: '#/components/responses/GetTeamResponse'
      security:
        - X-API-Key: []
      description: Get a team metadata
    post:
      summary: Create Team
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: post-v1-user-team
      requestBody:
        $ref: '#/components/requestBodies/CreateTeamRequest'
      security:
        - X-API-Key: []
      description: 'Create a new team '
    patch:
      summary: Update Team
      operationId: patch-v1-user-team
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/UpdateTeamResponse'
        '400':
          $ref: '#/components/responses/UpdateTeamResponse'
        '401':
          $ref: '#/components/responses/UpdateTeamResponse'
        '403':
          $ref: '#/components/responses/UpdateTeamResponse'
        '500':
          $ref: '#/components/responses/UpdateTeamResponse'
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/CreateTeamRequest'
      description: Update a existing team
    delete:
      summary: Delete Team
      tags:
        - internal
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: delete-v1-user-team
      security:
        - X-API-Key: []
      description: Delete team (require 0 members)
  /v1/user/team/member:
    get:
      summary: Get Team Members
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/GetTeamMembersResponse'
        '401':
          $ref: '#/components/responses/GetTeamMembersResponse'
        '403':
          $ref: '#/components/responses/GetTeamMembersResponse'
        '500':
          $ref: '#/components/responses/GetTeamMembersResponse'
      operationId: get-v1-user-team-member
      security:
        - X-API-Key: []
      description: Get team member list
    post:
      summary: Add Team Member
      operationId: post-v1-user-team-member
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/AddTeamMemberRequest'
      description: Invite a new team member
    delete:
      summary: Delete Team Member
      operationId: delete-v1-user-team-member
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/DeleteTeamMemberRequest'
      description: Delete a team member using member email
    patch:
      summary: Update Team Member
      operationId: patch-v1-user-team-member
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      requestBody:
        $ref: '#/components/requestBodies/InviteTeamMemberRequest'
      description: Accept team invite
  /v1/admin/team/member:
    post:
      summary: Add Team Member (Admin)
      operationId: post-v1-admin-team-member
      tags:
        - internal
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '403':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/AdminAddTeamMemberRequest'
      description: (ADMIN) Invite a new team member
  /v1/scans/scan_ips:
    get:
      summary: Get Scan IPs
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/StaticScanIPsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-scan_ips
      security:
        - X-API-Key: []
      description: Get user static scan IPs list
  '/v1/scans/{scan_id}/import':
    parameters:
      - schema:
          type: string
        name: scan_id
        in: path
        required: true
    patch:
      summary: Update Imported Scan
      operationId: patch-v1-scans-scan_id-import
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      description: Import more results to a given scan
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      security:
        - X-API-Key: []
  '/v1/scans/{scan_id}/export':
    parameters:
      - schema:
          type: string
        name: scan_id
        in: path
        required: true
    get:
      summary: Export Scan
      tags:
        - scans
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-scan_id-export
      parameters:
        - schema:
            type: string
            enum:
              - json
              - csv
              - pdf
          in: query
          name: type
          description: 'json, csv, pdf (default json)'
      security:
        - X-API-Key: []
      description: Export scan results
    post:
      summary: Export Filtered Scan
      tags:
        - scans
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: post-v1-scans-scan_id-export
      parameters:
        - schema:
            type: string
            enum:
              - json
              - csv
              - pdf
          in: query
          name: type
          description: 'json, csv, pdf (default json)'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                vuln_status:
                  type: string
                severity:
                  type: array
                  items:
                    type: string
                host:
                  type: array
                  items:
                    type: string
                template:
                  type: array
                  items:
                    type: string
                search:
                  type: string
      security:
        - X-API-Key: []
      description: Export filtered scan results
  '/v1/scans/vuln/{vuln_id}/export':
    parameters:
      - schema:
          type: string
        name: vuln_id
        in: path
        required: true
    get:
      summary: Export Scan Vulnerability
      tags:
        - scans
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-vuln-vuln_id-export
      parameters:
        - schema:
            type: string
            enum:
              - json
              - csv
          in: query
          name: type
          description: 'json, csv (default json)'
      security:
        - X-API-Key: []
      description: Export a specific scan vulnerability
  /v1/scans/vulns:
    patch:
      summary: Update Vulnerability Status
      operationId: patch-v1-scans-vulns
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        $ref: '#/components/requestBodies/PatchScanVulnsRequest'
      security:
        - X-API-Key: []
      description: Batch update vulnerability status
    delete:
      summary: Delete Scan Vulnerability
      operationId: delete-v1-scans-vulns
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        $ref: '#/components/requestBodies/DeleteVulnsRequest'
      security:
        - X-API-Key: []
      description: Batch Delete scan vulnerability
  /v1/scans/vulns/labels:
    patch:
      summary: Update Vulnerability Labels
      operationId: patch-v1-scans-vulns-labels
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        $ref: '#/components/requestBodies/PatchScanVulnsLabelsRequest'
      security:
        - X-API-Key: []
      description: Batch update vulnerability labels
  /v1/scans/config:
    get:
      summary: Get Configs List
      tags:
        - configurations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConfigResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-config
      parameters:
        - schema:
            enum:
              - scan
              - reporting
              - template
              - alerting
              - cloudlist
            type: string
          in: query
          name: type
          description: filter by the type of config
        - schema:
            type: string
          in: query
          name: search
          description: search by config name
        - schema:
            type: integer
          in: query
          name: limit
          description: The numbers of items to return
        - schema:
            type: integer
          in: query
          description: The number of items to skip before starting to collect the result set
          name: offset
      security:
        - X-API-Key: []
      description: Get user scan configurations list
    post:
      summary: Add Config
      operationId: post-v1-scans-config
      tags:
        - configurations
      responses:
        '200':
          $ref: '#/components/responses/PostScanConfigResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  type: string
                config_type:
                  $ref: '#/components/schemas/ConfigTypeEnum'
                name:
                  type: string
                global:
                  type: boolean
              required:
                - config
                - name
      security:
        - X-API-Key: []
      description: Add a new scan configuration
  '/v1/scans/config/{config_id}':
    parameters:
      - schema:
          type: string
        name: config_id
        in: path
        required: true
    get:
      summary: Get Config
      tags:
        - configurations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-config-config_id
      security:
        - X-API-Key: []
      description: Get a scan configuration
    patch:
      summary: Update Config
      operationId: patch-v1-scans-config-config_id
      tags:
        - configurations
      responses:
        '200':
          $ref: '#/components/responses/PostScanConfigResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                config:
                  type: string
                global:
                  type: boolean
      security:
        - X-API-Key: []
      description: Update existing scan configuration
    delete:
      summary: Delete Config
      operationId: delete-v1-scans-config-config_id
      tags:
        - configurations
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Delete scan configuration
  /v1/scans/config/verify:
    post:
      summary: Verify Config
      tags:
        - configurations
      responses:
        '200':
          $ref: '#/components/responses/VerifyConfigResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: post-v1-scans-config-verify
      requestBody:
        $ref: '#/components/requestBodies/VerifyConfigRequest'
      security:
        - X-API-Key: []
      description: Verify scan configuration
  '/v1/scans/{scan_id}/config':
    parameters:
      - schema:
          type: string
        name: scan_id
        in: path
        required: true
    get:
      summary: Get Scan Config
      tags:
        - scans
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanConfig'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-scans-id-config
      security:
        - X-API-Key: []
      description: 'Get scan metadata config '
    patch:
      summary: Update Scan Config
      operationId: patch-scans-id-config
      tags:
        - scans
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanConfigUpdateItem'
      security:
        - X-API-Key: []
      description: Update scan metadata config
      parameters:
        - schema:
            type: string
            enum:
              - append
              - replace
            default: append
          in: query
          name: update_type
          description: 'Update type: append or replace'
  /v1/payment/stripe/checkout_session:
    post:
      summary: Create Subscription Checkout
      operationId: post-v1-payment-stripe-checkout_session
      tags:
        - internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  payment_url:
                    type: string
                required:
                  - message
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                period:
                  type: string
              required:
                - period
      description: Create a new payment checkout
    parameters: []
  /v1/user/subscription:
    get:
      summary: Get Subscription Status
      tags:
        - users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                required:
                  - status
                  - message
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
      operationId: get-v1-user-subscription
      security:
        - X-API-Key: []
      description: Get user subscription status
  /v1/asset/enumerate:
    get:
      summary: Get Enumeration List
      tags:
        - enumerations
      responses:
        '200':
          $ref: '#/components/responses/EnumerateResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-asset-enumerate
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: The number of items to skip before starting to collect the result set
        - schema:
            type: integer
          in: query
          name: limit
          description: The numbers of items to return
        - schema:
            type: string
          in: query
          name: search
          description: search keyword in enumeration list
        - schema:
            type: string
          in: query
          name: enum_type
          description: types of enumeration list (comma seperated)
      security:
        - X-API-Key: []
      description: Get enumeration list
    post:
      summary: Create Enumeration
      tags:
        - enumerations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                required:
                  - id
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: post-v1-asset-enumerate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                root_domains:
                  type: array
                  items:
                    type: string
                enrichment_inputs:
                  type: array
                  items:
                    type: string
                cloudlist_config_ids:
                  type: array
                  items:
                    type: string
                name:
                  type: string
                steps:
                  type: array
                  items:
                    type: string
                    enum:
                      - dns_resolve
                      - port_scan
                      - http_probe
                      - endpoint_crawling
                enumeration_ports:
                  type: string
      security:
        - X-API-Key: []
      description: 'Create a new enumeration '
  '/v1/asset/enumerate/{enumerate_id}':
    parameters:
      - schema:
          type: string
        name: enumerate_id
        in: path
        required: true
    get:
      summary: Get Enumeration
      tags:
        - enumerations
      responses:
        '200':
          $ref: '#/components/responses/GetEnumerateIdContentsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-asset-enumerate-enumerate_id
      security:
        - X-API-Key: []
      description: Get enumeration by enumerate_id
    patch:
      summary: Update Enumeration
      tags:
        - enumerations
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: patch-v1-asset-enumerate-enumerate_id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      security:
        - X-API-Key: []
      description: Update enumeration by enumerate_id
    delete:
      summary: Delete Enumeration
      tags:
        - enumerations
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: delete-v1-asset-enumerate-enumerate_id
      security:
        - X-API-Key: []
      description: Delete enumeration by enumerate_id
  '/v1/asset/enumerate/{enumerate_id}/contents':
    parameters:
      - schema:
          type: string
        name: enumerate_id
        in: path
        required: true
    get:
      summary: Get Enumeration Contents
      tags:
        - enumerations
      responses:
        '200':
          $ref: '#/components/responses/GetEnumerateIdContents'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-asset-enumerate-enumerate_id-contents
      parameters:
        - schema:
            type: string
            default: hosts
            enum:
              - ports
              - endpoints
              - http
              - hosts
              - all
          in: query
          name: type
          required: true
          description: Filter by type of enumeration
        - schema:
            type: integer
            default: 0
          in: query
          name: offset
          description: The number of items to skip before starting to collect the result set
        - schema:
            type: integer
            default: 100
          in: query
          name: limit
          description: The numbers of items to return
        - schema:
            type: string
          name: search
          in: query
          description: Search on the content name
        - schema:
            type: string
          in: query
          name: labels
          description: Filter by comma separated labels, e.g-> labels=p1,p2
      security:
        - X-API-Key: []
      description: Get enumeration content by enumerate_id
  '/v1/asset/enumerate/{enumerate_id}/stop':
    parameters:
      - schema:
          type: string
        name: enumerate_id
        in: path
        required: true
    post:
      summary: Stop Enumeration
      tags:
        - enumerations
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: post-v1-asset-enumerate-enumerate_id-stop
      security:
        - X-API-Key: []
      description: Stop a running enumeration
  '/v1/asset/enumerate/{enumerate_id}/rescan':
    parameters:
      - schema:
          type: string
        name: enumerate_id
        in: path
        required: true
    post:
      summary: Rescan Enumeration
      operationId: post-v1-asset-enumerate-enumerate_id-rescan
      tags:
        - enumerations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                required:
                  - id
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - X-API-Key: []
      description: Re-run a existing enumeration
  '/v1/asset/enumerate/{enum_id}/export':
    parameters:
      - schema:
          type: string
        name: enum_id
        in: path
        required: true
    get:
      summary: Export Enumeration
      tags:
        - enumerations
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-enumerate-id-export
      parameters:
        - schema:
            type: string
            enum:
              - hosts
              - ports
              - endpoints
              - http
              - all
            default: hosts
          in: query
          name: type
          required: true
        - schema:
            type: string
            default: raw
            enum:
              - raw
              - json
              - csv
          in: query
          name: format
        - schema:
            type: string
          in: query
          name: search
          description: Search by string
        - schema:
            type: string
          in: query
          name: labels
          description: Filter by comma separated labels, e.g-> labels=p1,p2
      security:
        - X-API-Key: []
      description: Export enumeration content
  /v1/enumeration/schedule:
    get:
      summary: Get Enumeration Schedules
      tags:
        - enumerations
      responses:
        '200':
          $ref: '#/components/responses/GetEnumerationScheduleResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: get-v1-enumeration-schedule
      security:
        - X-API-Key: []
      description: Get enumeration re-scan schedule
    post:
      summary: Set Enumeration Schedule
      operationId: post-v1-enumeration-schedule
      tags:
        - enumerations
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      requestBody:
        $ref: '#/components/requestBodies/SetEnumerationScheduleRequest'
      security:
        - X-API-Key: []
      description: Set enumeration re-scan frequency
    delete:
      summary: Delete Enumeration Schedule
      operationId: delete-v1-enumeration-schedule
      tags:
        - enumerations
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      parameters:
        - schema:
            type: string
          in: query
          name: enumeration_id
          description: enumeration_id of the schedule to be deleted
          required: true
      security:
        - X-API-Key: []
      description: Delete a re-scan schedule
  /v1/scans/history:
    get:
      summary: Get All Scans History
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/GetScansHistoryResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-history
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of rows to skip
        - schema:
            type: integer
          in: query
          name: limit
          description: number of rows to get
        - schema:
            type: string
            format: date
          in: query
          name: start_date
          description: start date from which you want to get history
        - schema:
            type: string
            format: date
          in: query
          name: end_date
          description: end date till which you want to get history
        - schema:
            type: string
            enum:
              - current_month
              - last_month
              - last_3_months
              - last_6_months
              - last_12_months
              - all_time
          in: query
          name: time_range
          description: time range to get history
      security:
        - X-API-Key: []
      description: Get user scan history details
  '/v1/scans/{scanId}/history':
    parameters:
      - schema:
          type: string
        name: scanId
        in: path
        required: true
    get:
      summary: Get Scan History
      tags:
        - scans
      responses:
        '200':
          $ref: '#/components/responses/GetScansHistoryResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-scans-scanId-history
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
          description: number of rows to skip
        - schema:
            type: integer
          in: query
          name: limit
          description: number of rows to get
        - schema:
            type: string
            format: date
          in: query
          name: start_date
          description: start date from which you want to get history
        - schema:
            type: string
            format: date
          in: query
          name: end_date
          description: end date till which you want to get history
        - schema:
            type: string
            enum:
              - current_month
              - last_month
              - last_3_months
              - last_6_months
              - last_12_months
              - all_time
          in: query
          name: time_range
          description: time range to get history
      security:
        - X-API-Key: []
      description: Get scan history detial by scanId
  '/v1/integration/{name}':
    get:
      summary: Get Integration
      tags:
        - internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  key:
                    type: string
                  connection_id:
                    type: string
                  integration_id:
                    type: string
                  fetching_status:
                    type: boolean
                required:
                  - status
                  - message
                  - key
                  - connection_id
                  - integration_id
                  - fetching_status
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
      operationId: get-v1-integration
      security:
        - X-API-Key: []
      description: Get integration list
    post:
      summary: Create Integration
      operationId: post-v1-integration
      tags:
        - internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  key:
                    type: string
                  connection_id:
                    type: string
                  integration_id:
                    type: string
                  fetching_status:
                    type: boolean
                required:
                  - status
                  - key
                  - connection_id
                  - integration_id
                  - fetching_status
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  '':
                    type: string
      security:
        - X-API-Key: []
      description: Add Integration
    parameters:
      - schema:
          type: string
        name: name
        in: path
        required: true
    patch:
      summary: Verify Integration
      operationId: patch-v1-integration
      tags:
        - internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connection_id:
                  type: string
              required:
                - connection_id
      description: Verify connection_id
    delete:
      summary: Delete Integration
      tags:
        - internal
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
      operationId: delete-v1-integration
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connection_id:
                  type: string
              required:
                - connection_id
      description: Deleted integration
  '/v1/integration/{name}/all':
    parameters:
      - schema:
          type: string
        name: name
        in: path
        required: true
    get:
      summary: Get All Integrations
      tags:
        - internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IntegrationListItems'
                required:
                  - data
        '400':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: get-v1-integration-name-all
      security:
        - X-API-Key: []
      description: Get integration list
  /v1/template/contribute:
    post:
      summary: Contribute to Public Templates
      operationId: post-v1-template-contribute
      tags:
        - internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pr:
                    type: string
                required:
                  - pr
        '400':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      security:
        - X-API-Key: []
      requestBody:
        $ref: '#/components/requestBodies/CreateContributeRequest'
      description: Contribute template to nuclei-templates
    parameters: []
  '/v1/integration/{name}/profile':
    get:
      summary: Get Integration User Profile
      tags:
        - internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  email:
                    type: string
                  login:
                    type: string
                required:
                  - name
                  - email
                  - login
        '400':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: get-v1-integration-name-profile
      x-internal: false
      security:
        - X-API-Key: []
      description: Get user integration profile data
    parameters:
      - schema:
          type: string
        name: name
        in: path
        required: true
  /v1/template/github:
    get:
      summary: Get Github Template List
      tags:
        - templates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GithubTemplateListItem'
                required:
                  - data
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: get-v1-github-templates
      security:
        - X-API-Key: []
      description: List of all user's github templates
    parameters: []
  '/v1/template/github/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Get Github Template
      tags:
        - templates
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/MessageResponse'
        '404':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: get-v1-github-templates-id
      requestBody:
        content: {}
      parameters: []
      security:
        - X-API-Key: []
      description: Get github template text
  /v1/template/leaderboard:
    get:
      summary: Get Leaderboard
      tags:
        - internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateLeaderboard'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: get-v1-template-leaderboard
      parameters:
        - schema:
            type: integer
          in: query
          name: from
          description: define result number to return from
        - schema:
            type: integer
          in: query
          name: size
          description: define number of results to return
        - schema:
            type: string
          in: query
          name: q
          description: query string to match against all response value
        - schema:
            type: string
          in: query
          description: define specific field to query
          name: fq
        - schema:
            type: string
          in: query
          description: define specific field to return
          name: fl
        - schema:
            type: string
          in: query
          description: sort response value based on given key
          name: sort_by
        - schema:
            type: string
          in: query
          name: sort_dir
          description: sort direction for given key
        - schema:
            type: string
          in: query
          description: 'return data for specified year '
          name: year
        - schema:
            type: string
          in: query
          description: 'return data for specified quarter(q1, q2, q3, q4) + year'
          name: quarter
        - schema:
            type: string
          in: query
          name: month
          description: ' return data for specified month + year'
      description: Get public templates leaderboard list
  /v1/template/stats:
    get:
      summary: Get Public Template Stats
      tags:
        - templates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateStats'
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
      operationId: get-v1-template-stats
      parameters:
        - schema:
            type: integer
          in: query
          name: from
          description: define result number to return from
        - schema:
            type: integer
          in: query
          name: size
          description: define number of results to return
        - schema:
            type: string
          in: query
          name: q
          description: query string to match against all response value
        - schema:
            type: string
          in: query
          description: define specific field to query
          name: fq
        - schema:
            type: string
          in: query
          description: define specific field to return
          name: fl
        - schema:
            type: string
          in: query
          description: sort response value based on given key
          name: sort_by
        - schema:
            type: string
          in: query
          name: sort_dir
          description: sort direction for given key
      security:
        - X-API-Key: []
      description: Get public template statistics
  '/v1/scans/{scan_id}/error_log/download':
    parameters:
      - schema:
          type: string
        name: scan_id
        in: path
        required: true
    get:
      summary: Download elogs of given scan id
      tags:
        - elog
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
[...]
